/ai/mod/env/
/ai/mod/source/
/ai/bot/env
/ai/bots/env
/ai/bots/source
/ai/chatbot/venv
/ai/pandas-ai
/ai/bot/certs
/ai/chat/certs
/app/chat/cache
/api/sql/backup
/api/sgb/backup
/api/database/backup
/api/database/backups
/api/viz/
/api/widget/
/api/graphic/
/api/visualizer/
/app/addons/suggestionbox/sql/mysql.sql
/maps/geojson/
/maps/geojson/regions
/app/templates_c/*.csv
/app/templates_c/*.xls
/app/templates_c/*.xlsx
/app/templates_c/*.txt
/app/templates_c/*.doc
/app/templates_c/*.docx
/mysql-int/hispmd_dev.sql
/src/hispmddb/
/app/modules/kb
/app/modules/hd
/build
/analytics/misc/DBIP-City.mmdb
/analytics/tmp/
**/.env
**/sysdb.php
/docs/.devcontainer
/docs/.vscode
/hispmd.code-workspace
/letsencrypt/acme.json