/ai/bot/env
/ai/chatbot/venv
/ai/pandas-ai
/ai/bot/certs
/ai/chat/certs
/api/sql/backup
/api/database/backup
/api/database/backups
/maps/geojson/
/maps/geojson/regions
/app/templates_c/*.csv
/app/templates_c/*.xls
/app/templates_c/*.xlsx
/app/templates_c/*.txt
/app/templates_c/*.doc
/app/templates_c/*.docx
/mysql-int/hispmd_dev.sql
/src/hispmddb/
/analytics/tmp/cache/tracker
