<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule .* - [E=noabort:1]
  RewriteRule .* - [E=noconntimeout:1]

  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>