/*
 * 
 */

* {
    font-family: sans-serif;
}

table.calendar {
    text-align: center;
    background: white;
    border-collapse: collapse;
    box-shadow: 0 1px 5px 0 #00000030;
    margin-bottom: 10px;
}

table.calendar td {
    cursor: pointer;
    min-width: 40px;
    padding: 0px 0;
    /*padding: 5px 0;*/
}

table.calendar th {
    cursor: pointer;
    min-width: 40px;
    padding: 5px 0;
    background: #3a89db;/* #2196F3  #4CAF50;*/
    color: white;
}

table.calendar th.rest {
    color: white;
    background: #1acc7d/*black;*/
}

td.today {
    background: #00274c;
    color: white;
    font-size: 12px;
}

td.today:hover {
    background: #70c2f3;
}

td.day:hover {
    background: lightgray;
}
.clock {
    position: inherit;
    /*
    top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    */
    
    color: #00297c;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;



}
.headerclock {
    position: inherit;
    /*
    top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    */

    color: #ffffff;
    font-size: 13px;
    font-family: Orbitron;
    letter-spacing: 7px;



}
.calendar-container {
    display: flex;
    justify-content: space-between;
}

.ethiopian-calendar,
.gregorian-calendar {
    /*flex: 1;*/
}