[data-cellid="footer_c1"][data-page=".global_remind"][data-cellid="footer_c1"][data-page=".global_remind"][data-cellid="footer_c1"][data-page=".global_remind"] {
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page=".global_remind"][data-cellid="footer_c2"][data-page=".global_remind"][data-cellid="footer_c2"][data-page=".global_remind"] {
  width: 66.66666667%;
}
[data-page=".global_remind"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


