[data-cellid="grid_buttons"][data-page=".global_userinfo_Project"][data-cellid="grid_buttons"][data-page=".global_userinfo_Project"][data-cellid="grid_buttons"][data-page=".global_userinfo_Project"] {
  padding: 15px;
}
[data-page=".global_userinfo_Project"][data-itemid="user_fields_title"] {
  font-size: 24px;
}
[data-page=".global_userinfo_Project"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


