[data-cellid="grid_footcell_field8"][data-page="sgb_suggestions_already_posted"][data-cellid="grid_footcell_field8"][data-page="sgb_suggestions_already_posted"][data-cellid="grid_footcell_field8"][data-page="sgb_suggestions_already_posted"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="sgb_suggestions_already_posted"][data-cellid="grid_headcell_icons"][data-page="sgb_suggestions_already_posted"][data-cellid="grid_headcell_icons"][data-page="sgb_suggestions_already_posted"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="sgb_suggestions_already_posted"][data-cellid="grid_cell_icons"][data-page="sgb_suggestions_already_posted"][data-cellid="grid_cell_icons"][data-page="sgb_suggestions_already_posted"] {
  white-space: nowrap;
}
[data-page="sgb_suggestions_already_posted"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


