[data-cellid="grid_c3"][data-page="sgb_suggestions_add"][data-cellid="grid_c3"][data-page="sgb_suggestions_add"][data-cellid="grid_c3"][data-page="sgb_suggestions_add"] {
  padding: 20px;
}
[data-cellid="grid_c"][data-page="sgb_suggestions_add"][data-cellid="grid_c"][data-page="sgb_suggestions_add"][data-cellid="grid_c"][data-page="sgb_suggestions_add"] {
  padding: 20px;
}
[data-cellid="grid_c4"][data-page="sgb_suggestions_add"][data-cellid="grid_c4"][data-page="sgb_suggestions_add"][data-cellid="grid_c4"][data-page="sgb_suggestions_add"] {
  padding: 20px;
}
[data-cellid="grid_c6"][data-page="sgb_suggestions_add"][data-cellid="grid_c6"][data-page="sgb_suggestions_add"][data-cellid="grid_c6"][data-page="sgb_suggestions_add"] {
  padding: 20px;
}
[data-page="sgb_suggestions_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c3"][data-page="sgb_suggestions_add"][data-cellid="grid_c3"][data-page="sgb_suggestions_add"][data-cellid="grid_c3"][data-page="sgb_suggestions_add"] {
border-radius: 4px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c"][data-page="sgb_suggestions_add"][data-cellid="grid_c"][data-page="sgb_suggestions_add"][data-cellid="grid_c"][data-page="sgb_suggestions_add"] {
border-radius: 4px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c4"][data-page="sgb_suggestions_add"][data-cellid="grid_c4"][data-page="sgb_suggestions_add"][data-cellid="grid_c4"][data-page="sgb_suggestions_add"] {
border-radius: 4px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c6"][data-page="sgb_suggestions_add"][data-cellid="grid_c6"][data-page="sgb_suggestions_add"][data-cellid="grid_c6"][data-page="sgb_suggestions_add"] {
border-radius: 4px;
}
/* Put  your custom CSS code here */

[data-page="sgb_suggestions_add"][data-itemid="add_back_list"] {
 margin-right:15px;
}

