[data-cellid="grid_c3"][data-page="sgb_suggestions_edit"][data-cellid="grid_c3"][data-page="sgb_suggestions_edit"][data-cellid="grid_c3"][data-page="sgb_suggestions_edit"] {
  padding: 20px;
}
[data-cellid="grid_c4"][data-page="sgb_suggestions_edit"][data-cellid="grid_c4"][data-page="sgb_suggestions_edit"][data-cellid="grid_c4"][data-page="sgb_suggestions_edit"] {
  padding: 20px;
}
[data-cellid="grid_c6"][data-page="sgb_suggestions_edit"][data-cellid="grid_c6"][data-page="sgb_suggestions_edit"][data-cellid="grid_c6"][data-page="sgb_suggestions_edit"] {
  padding: 20px;
}
[data-page="sgb_suggestions_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c3"][data-page="sgb_suggestions_edit"][data-cellid="grid_c3"][data-page="sgb_suggestions_edit"][data-cellid="grid_c3"][data-page="sgb_suggestions_edit"] {
border-radius: 4px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c4"][data-page="sgb_suggestions_edit"][data-cellid="grid_c4"][data-page="sgb_suggestions_edit"][data-cellid="grid_c4"][data-page="sgb_suggestions_edit"] {
border-radius: 4px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c6"][data-page="sgb_suggestions_edit"][data-cellid="grid_c6"][data-page="sgb_suggestions_edit"][data-cellid="grid_c6"][data-page="sgb_suggestions_edit"] {
border-radius: 4px;
}
[data-page="sgb_suggestions_edit"][data-itemid="edit_back_list"] {
 margin-right:15px;
 margin-left:5px;
}
