[data-page="_global_session_expired"][data-itemid="session_expired_message"] {
  color: #55768e;
  font-size: 22px;
}
[data-page="_global_session_expired"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


