[data-cellid="grid_footcell_field"][data-page="ai_data_assistant_list"][data-cellid="grid_footcell_field"][data-page="ai_data_assistant_list"][data-cellid="grid_footcell_field"][data-page="ai_data_assistant_list"] {
  white-space: nowrap;
}
[data-page="ai_data_assistant_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.panel > .alert {
    display: none;
}