[data-page="dhis2_reporting_rate_details_chart_chart"][data-itemid="chart"] {
  width: 100%;
  height: 530px;
}
[data-page="dhis2_reporting_rate_details_chart_chart"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


