[data-cellid="grid_headcell_field3"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field3"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field3"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field4"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field4"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field5"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field5"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field6"][data-page="dhis2_reportingrates_list"][data-cellid="grid_cell_field6"][data-page="dhis2_reportingrates_list"][data-cellid="grid_cell_field6"][data-page="dhis2_reportingrates_list"] {
  background-color: #e7feff;
}
[data-cellid="grid_footcell_field6"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field6"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field6"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field7"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field7"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field8"][data-page="dhis2_reportingrates_list"][data-cellid="grid_cell_field8"][data-page="dhis2_reportingrates_list"][data-cellid="grid_cell_field8"][data-page="dhis2_reportingrates_list"] {
  background-color: #e7feff;
}
[data-cellid="grid_footcell_field8"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field8"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field8"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_checkbox"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_checkbox"][data-page="dhis2_reportingrates_list"] {
  width: 30px;
}
[data-cellid="grid_footcell_field1"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field1"][data-page="dhis2_reportingrates_list"][data-cellid="grid_footcell_field1"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field13"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field13"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field13"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field16"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field16"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field16"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field19"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field19"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field19"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field22"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field22"][data-page="dhis2_reportingrates_list"][data-cellid="grid_headcell_field22"][data-page="dhis2_reportingrates_list"] {
  white-space: nowrap;
}
[data-page="dhis2_reportingrates_list"][data-itemid="grid_field1"] {
  color: #337ab7;
  font-weight: bold;
}
[data-page="dhis2_reportingrates_list"][data-itemid="grid_field4"] {
  font-weight: bold;
}
[data-page="dhis2_reportingrates_list"][data-itemid="grid_field5"] {
  font-weight: bold;
}
[data-page="dhis2_reportingrates_list"][data-itemid="grid_field6"] {
  font-weight: bold;
}
[data-page="dhis2_reportingrates_list"][data-itemid="grid_field7"] {
  font-weight: bold;
}
[data-page="dhis2_reportingrates_list"][data-itemid="grid_field8"] {
  font-weight: bold;
}
[data-page="dhis2_reportingrates_list"][data-itemid="text2"] {
  font-style: italic;
  font-weight: bold;
}
[data-page="dhis2_reportingrates_list"][data-itemid="text11"] {
  color: #00b5ff;
  font-weight: bold;
}
[data-page="dhis2_reportingrates_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


