[data-cellid="grid_footcell_field"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field2"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field2"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field3"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field3"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field4"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field4"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field5"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field5"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field6"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field6"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field7"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field7"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field8"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_footcell_field8"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field11"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_cell_field11"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_cell_field11"][data-page="dhis2_reporting_rate_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_headcell_checkbox"][data-page="dhis2_reporting_rate_list"][data-cellid="grid_headcell_checkbox"][data-page="dhis2_reporting_rate_list"] {
  width: 30px;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="simple_grid_field"] {
  color: #04444c;
  font-style: italic;
  font-weight: normal;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="simple_grid_field2"] {
  color: #04444c;
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="simple_grid_field3"] {
  color: #04444c;
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="simple_grid_field9"] {
  color: #04444c;
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="simple_grid_field11"] {
  color: #04444c;
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="simple_grid_field12"] {
  color: #04444c;
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="grid_field"] {
  color: #04444c;
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="grid_field_label"] {
  color: #04444c;
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


