[data-cellid="grid_c3"][data-page="dhis2_reportingrate_settings_view"][data-cellid="grid_c3"][data-page="dhis2_reportingrate_settings_view"][data-cellid="grid_c3"][data-page="dhis2_reportingrate_settings_view"] {
  border: solid #007abc 1px;
}
[data-cellid="grid_c4"][data-page="dhis2_reportingrate_settings_view"][data-cellid="grid_c4"][data-page="dhis2_reportingrate_settings_view"][data-cellid="grid_c4"][data-page="dhis2_reportingrate_settings_view"] {
  border: solid #007abc 1px;
}
[data-cellid="grid_c5"][data-page="dhis2_reportingrate_settings_view"][data-cellid="grid_c5"][data-page="dhis2_reportingrate_settings_view"][data-cellid="grid_c5"][data-page="dhis2_reportingrate_settings_view"] {
  border: solid #007abc 1px;
}
[data-cellid="grid_c6"][data-page="dhis2_reportingrate_settings_view"][data-cellid="grid_c6"][data-page="dhis2_reportingrate_settings_view"][data-cellid="grid_c6"][data-page="dhis2_reportingrate_settings_view"] {
  border: solid #007abc 1px;
}
[data-page="dhis2_reportingrate_settings_view"][data-itemid="text3"] {
  font-weight: bold;
}
[data-page="dhis2_reportingrate_settings_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


