[data-cellid="grid_headcell_field3"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_headcell_field3"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_headcell_field3"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field4"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field4"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field5"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field5"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field6"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field6"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field7"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field7"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field8"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field8"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_headcell_checkbox"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_headcell_checkbox"][data-page="dhis2_reporting_rate_details_list"] {
  width: 30px;
}
[data-cellid="grid_footcell_field1"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field1"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_footcell_field1"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field13"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_headcell_field13"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_headcell_field13"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field16"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_headcell_field16"][data-page="dhis2_reporting_rate_details_list"][data-cellid="grid_headcell_field16"][data-page="dhis2_reporting_rate_details_list"] {
  white-space: nowrap;
}
[data-page="dhis2_reporting_rate_details_list"][data-itemid="grid_field4"] {
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_details_list"][data-itemid="grid_field5"] {
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_details_list"][data-itemid="grid_field6"] {
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_details_list"][data-itemid="grid_field7"] {
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_details_list"][data-itemid="grid_field8"] {
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_details_list"][data-itemid="text2"] {
  font-weight: bold;
}
[data-page="dhis2_reporting_rate_details_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


