[data-cellid="grid_footcell_field2"][data-page="dhis2_aio_orgunit_list"][data-cellid="grid_footcell_field2"][data-page="dhis2_aio_orgunit_list"][data-cellid="grid_footcell_field2"][data-page="dhis2_aio_orgunit_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="dhis2_aio_orgunit_list"][data-cellid="grid_headcell_checkbox"][data-page="dhis2_aio_orgunit_list"][data-cellid="grid_headcell_checkbox"][data-page="dhis2_aio_orgunit_list"] {
  width: 30px;
}
[data-page="dhis2_aio_orgunit_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


