[data-cellid="grid_footcell_field"][data-page="eidm_hc_list"][data-cellid="grid_footcell_field"][data-page="eidm_hc_list"][data-cellid="grid_footcell_field"][data-page="eidm_hc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="eidm_hc_list"][data-cellid="grid_footcell_field1"][data-page="eidm_hc_list"][data-cellid="grid_footcell_field1"][data-page="eidm_hc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="eidm_hc_list"][data-cellid="grid_footcell_field2"][data-page="eidm_hc_list"][data-cellid="grid_footcell_field2"][data-page="eidm_hc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="eidm_hc_list"][data-cellid="grid_footcell_field3"][data-page="eidm_hc_list"][data-cellid="grid_footcell_field3"][data-page="eidm_hc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="eidm_hc_list"][data-cellid="grid_headcell_checkbox"][data-page="eidm_hc_list"][data-cellid="grid_headcell_checkbox"][data-page="eidm_hc_list"] {
  width: 30px;
}
[data-page="eidm_hc_list"][data-itemid="simple_grid_field3"] {
  font-weight: bold;
}
[data-page="eidm_hc_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


