[data-cellid="grid_headcell_checkbox"][data-page="hispmd_system_settings_mb_databases"][data-cellid="grid_headcell_checkbox"][data-page="hispmd_system_settings_mb_databases"][data-cellid="grid_headcell_checkbox"][data-page="hispmd_system_settings_mb_databases"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="hispmd_system_settings_mb_databases"][data-cellid="grid_headcell_icons"][data-page="hispmd_system_settings_mb_databases"][data-cellid="grid_headcell_icons"][data-page="hispmd_system_settings_mb_databases"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="hispmd_system_settings_mb_databases"][data-cellid="grid_cell_icons"][data-page="hispmd_system_settings_mb_databases"][data-cellid="grid_cell_icons"][data-page="hispmd_system_settings_mb_databases"] {
  white-space: nowrap;
}
[data-page="hispmd_system_settings_mb_databases"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


