[data-page="hispmd_moh_indicators_dashboard_hispmd_data_visualizer"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

.header-container {
    display: none;
}
    .header-container {
            display: none;
            /* justify-content: space-between; */
            /* align-items: center; */
            /* background-color: #00274c; */
            /* padding: 4px 10px; */
            /* box-shadow: 0 4px 2px -2px gray; */
            /* flex-wrap: wrap; */
                }