[data-cellid="grid_headcell_checkbox"][data-page="hispmdusers_list1"][data-cellid="grid_headcell_checkbox"][data-page="hispmdusers_list1"][data-cellid="grid_headcell_checkbox"][data-page="hispmdusers_list1"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="hispmdusers_list1"][data-cellid="grid_headcell_icons"][data-page="hispmdusers_list1"][data-cellid="grid_headcell_icons"][data-page="hispmdusers_list1"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="hispmdusers_list1"][data-cellid="grid_cell_icons"][data-page="hispmdusers_list1"][data-cellid="grid_cell_icons"][data-page="hispmdusers_list1"] {
  white-space: nowrap;
}
[data-page="hispmdusers_list1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


