[data-page="main_mainpage"][data-itemid="text1"] {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}
[data-page="main_mainpage"][data-itemid="simple_grid_field2"] {
  font-weight: bold;
}
[data-page="main_mainpage"][data-itemid="text4"] {
  color: #00293c;
  font-weight: bold;
}
[data-page="main_mainpage"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


