[data-cellid="above-grid_c5"][data-page="main_category"][data-cellid="above-grid_c5"][data-page="main_category"][data-cellid="above-grid_c5"][data-page="main_category"] {
  background-color: #e7fdfe;
  color: #0075d9;
  text-decoration: underline;
  font-weight: bold;
}
[data-cellid="above-grid_c4"][data-page="main_category"][data-cellid="above-grid_c4"][data-page="main_category"][data-cellid="above-grid_c4"][data-page="main_category"] {
  page-break-before: always;
}
[data-page="main_category"][data-itemid="category_title"] {
  font-style: italic;
  font-weight: bold;
}
[data-page="main_category"][data-itemid="simple_grid_field6"] {
  color: #0097d3;
  font-weight: bold;
  font-size: 19px;
}
[data-page="main_category"][data-itemid="text"] {
  background-color: #0075d9;
  color: #0075d9;
  font-weight: normal;
}
[data-page="main_category"][data-itemid="text1"] {
  color: #00293c;
  font-weight: bold;
  font-size: 21px;
}
[data-page="main_category"][data-itemid="snippet1"] {
  color: #0079d3;
  font-weight: bold;
  page-break-after: always;
}
[data-page="main_category"][data-itemid="text2"] {
  font-style: italic;
  font-weight: bold;
}
[data-page="main_category"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="main_category"][data-itemid="category_title"] {
    font-family: "Montserrat",sans-serif;
    color: #1b1b1b;
        font-size: 20px;
}

/* Put  your custom CSS code here */

[data-page="main_category"][data-itemid="simple_grid_field6"] a {
  font-size: 18px;
}
[data-page="main_category"][data-itemid="simple_grid_field6"] a:before{
    margin-right:5px;
}

[data-page="main_category"][data-itemid="text"] {
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
}

