[data-cellid="grid_footcell_field"][data-page="mfr_zones_masterprint"][data-cellid="grid_footcell_field"][data-page="mfr_zones_masterprint"][data-cellid="grid_footcell_field"][data-page="mfr_zones_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="mfr_zones_masterprint"][data-cellid="grid_footcell_field1"][data-page="mfr_zones_masterprint"][data-cellid="grid_footcell_field1"][data-page="mfr_zones_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="mfr_zones_masterprint"][data-cellid="grid_footcell_field2"][data-page="mfr_zones_masterprint"][data-cellid="grid_footcell_field2"][data-page="mfr_zones_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="mfr_zones_masterprint"][data-cellid="grid_headcell_icons"][data-page="mfr_zones_masterprint"][data-cellid="grid_headcell_icons"][data-page="mfr_zones_masterprint"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="mfr_zones_masterprint"][data-cellid="grid_cell_icons"][data-page="mfr_zones_masterprint"][data-cellid="grid_cell_icons"][data-page="mfr_zones_masterprint"] {
  white-space: nowrap;
}
[data-page="mfr_zones_masterprint"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


