[data-cellid="grid_c1"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c1"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c1"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c4"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c4"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c4"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c6"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c6"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c6"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c7"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c7"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c7"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c8"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c8"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c8"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c11"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c11"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c11"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c12"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c12"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c12"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c13"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c13"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c13"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c14"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c14"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c14"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c15"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c15"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c15"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c16"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c16"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c16"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c17"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c17"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c17"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c18"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c18"][data-page="mfr_aio_dashboard_dashboard"][data-cellid="grid_c18"][data-page="mfr_aio_dashboard_dashboard"] {
  width: 100%;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item"] {
  height: 500px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item1"] {
  height: 500px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item2"] {
  height: 750px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item3"] {
  height: 750px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item4"] {
  height: 800px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item5"] {
  height: 550px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item11"] {
  height: 500px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item12"] {
  height: 500px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item13"] {
  height: 250px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item14"] {
  height: 250px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item15"] {
  height: 250px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item16"] {
  height: 300px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="dashboard-item17"] {
  height: 300px;
}
[data-page="mfr_aio_dashboard_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


