[data-cellid="grid_"][data-page="mfr_geolocation_reports_dashboard"][data-cellid="grid_"][data-page="mfr_geolocation_reports_dashboard"][data-cellid="grid_"][data-page="mfr_geolocation_reports_dashboard"] {
  width: 800px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item1"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item2"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item3"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item4"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item5"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Region_grid"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Zone_grid"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Woreda_grid"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Region_map"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Zone_map"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Woreda_map"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Region_grid1"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Zone_grid1"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Woreda_grid1"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Region_map1"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Zone_map1"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Woreda_map1"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Region_grid2"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Zone_grid2"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Woreda_grid2"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Region_map2"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Zone_map2"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="MFR_Woreda_map2"] {
  height: 600px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


