[data-cellid="grid_footcell_field"][data-page="mfr_woreda_list"][data-cellid="grid_footcell_field"][data-page="mfr_woreda_list"][data-cellid="grid_footcell_field"][data-page="mfr_woreda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="mfr_woreda_list"][data-cellid="grid_footcell_field1"][data-page="mfr_woreda_list"][data-cellid="grid_footcell_field1"][data-page="mfr_woreda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="mfr_woreda_list"][data-cellid="grid_headcell_checkbox"][data-page="mfr_woreda_list"][data-cellid="grid_headcell_checkbox"][data-page="mfr_woreda_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="mfr_woreda_list"][data-cellid="grid_cell_details"][data-page="mfr_woreda_list"][data-cellid="grid_cell_details"][data-page="mfr_woreda_list"] {
  white-space: nowrap;
}
[data-page="mfr_woreda_list"][data-itemid="chart"] {
  width: 100%;
  height: 530px;
}
[data-page="mfr_woreda_list"][data-itemid="map"] {
  width: 100%;
  height: 450px;
}
[data-page="mfr_woreda_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


