[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item1"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item2"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item3"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item4"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="dashboard-item5"] {
  height: 500px;
}
[data-page="mfr_geolocation_reports_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


