[data-page="moh_indicators_data_report_report"][data-itemid="group_summary_field_label"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="group_summary_count"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="group_summary_field_label1"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="group_summary_count1"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="group_summary_field_label2"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="group_summary_count2"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="report_advanced_field4"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="page_summary_count"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="global_summary_count"] {
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


