[data-page="moh_indicators_data_report_report"][data-itemid="report_grid_field7"] {
  color: #007cff;
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="report_grid_field3"] {
  color: #47ac34;
  font-weight: bold;
}
[data-page="moh_indicators_data_report_report"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


