[data-cellid="grid_footcell_field"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field"][data-page="moh_regions_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field1"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field1"][data-page="moh_regions_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field2"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field2"][data-page="moh_regions_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field3"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field3"][data-page="moh_regions_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field4"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field4"][data-page="moh_regions_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field5"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field5"][data-page="moh_regions_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field6"][data-page="moh_regions_masterlist"][data-cellid="grid_footcell_field6"][data-page="moh_regions_masterlist"] {
  white-space: nowrap;
}
[data-page="moh_regions_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


