[data-page="public_mfr_facilities_register_chart_chart"][data-itemid="chart"] {
  width: 100%;
  height: 530px;
}
[data-page="public_mfr_facilities_register_chart_chart"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


