[data-cellid="grid_footcell_field"][data-page="regions_masterlist"][data-cellid="grid_footcell_field"][data-page="regions_masterlist"][data-cellid="grid_footcell_field"][data-page="regions_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="regions_masterlist"][data-cellid="grid_footcell_field1"][data-page="regions_masterlist"][data-cellid="grid_footcell_field1"][data-page="regions_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="regions_masterlist"][data-cellid="grid_footcell_field2"][data-page="regions_masterlist"][data-cellid="grid_footcell_field2"][data-page="regions_masterlist"] {
  white-space: nowrap;
}
[data-page="regions_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


