

<ul class="r-menu nav 
navbar-nav
" data-menulevel="1">
	{$active_submenu}
	
	
	{BEGIN item1_menulink}
	<li class=" {$item1_current}">
		
<a {$item1_menulink_attrs} title="{$item1_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item1_icon} {$item1_title}
		</span>
			</span>
	</a>

	</li>
	{END item1_menulink}
	
	
	{BEGIN item2_menulink}
	<li class=" dropdown  {$item2_current}">
		
<a {$item2_menulink_attrs} title="{$item2_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item2_icon} {$item2_title}
		</span>
				{BEGIN item2_expand_icon}
		<span class="r-menu-expand-icon 
				glyphicon glyphicon-triangle-bottom 
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item2_expand_icon}
	</span>
	</a>

		
		
				<ul class="
					dropdown-menu
			{$submenu2_class}" 
			id="submenu2" data-menulevel=2>
			{BEGIN item3_menulink}
			<li class=" {$item3_current}">
				
<a {$item3_menulink_attrs} title="{$item3_tooltip}" 
				data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item3_icon} {$item3_title}
		</span>
			</span>
	</a>

			</li>
			{END item3_menulink}
				
		
					{BEGIN item4_menulink}
			<li class=" {$item4_current}">
				
<a {$item4_menulink_attrs} title="{$item4_tooltip}" 
				data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item4_icon} {$item4_title}
		</span>
			</span>
	</a>

			</li>
			{END item4_menulink}
				</ul>
	</li>
	{END item2_menulink}
	
	
	{BEGIN item5_menulink}
	<li class=" {$item5_current}">
		
<a {$item5_menulink_attrs} title="{$item5_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item5_icon} {$item5_title}
		</span>
			</span>
	</a>

	</li>
	{END item5_menulink}
	
	
	{BEGIN item6_menulink}
	<li class=" {$item6_current}">
		
<a {$item6_menulink_attrs} title="{$item6_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item6_icon} {$item6_title}
		</span>
			</span>
	</a>

	</li>
	{END item6_menulink}
	
	
	{BEGIN item7_menulink}
	<li class=" {$item7_current}">
		
<a {$item7_menulink_attrs} title="{$item7_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item7_icon} {$item7_title}
		</span>
			</span>
	</a>

	</li>
	{END item7_menulink}
	
	
	{BEGIN item8_menulink}
	<li class=" {$item8_current}">
		
<a {$item8_menulink_attrs} title="{$item8_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item8_icon} {$item8_title}
		</span>
			</span>
	</a>

	</li>
	{END item8_menulink}
</ul>