<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel sgb_admin_suggestions search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label sgb_admin_suggestions id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN suggested_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_suggested_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="suggested_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="suggested_by" data-fieldname="suggested_by" >


	<label class="r-search-label control-label" for="{$labelfor_suggested_by}">
		{$label sgb_admin_suggestions suggested_by }	</label>
	<div class="r-search-option">
		{$searchtype_suggested_by}
	</div>
	<div class="r-search-field">
		{$suggested_by_editcontrol}	</div>
	<div class="r-search-field">
		{$suggested_by_editcontrol1}
	</div>
	
</div>

{END suggested_by_fieldblock}
											
{BEGIN status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="status" data-fieldname="status" >


	<label class="r-search-label control-label" for="{$labelfor_status}">
		{$label sgb_admin_suggestions status }	</label>
	<div class="r-search-option">
		{$searchtype_status}
	</div>
	<div class="r-search-field">
		{$status_editcontrol}	</div>
	<div class="r-search-field">
		{$status_editcontrol1}
	</div>
	
</div>

{END status_fieldblock}
											
{BEGIN created_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="created_date" data-fieldname="created_date" >


	<label class="r-search-label control-label" for="{$labelfor_created_date}">
		{$label sgb_admin_suggestions created_date }	</label>
	<div class="r-search-option">
		{$searchtype_created_date}
	</div>
	<div class="r-search-field">
		{$created_date_editcontrol}	</div>
	<div class="r-search-field">
		{$created_date_editcontrol1}
	</div>
	
</div>

{END created_date_fieldblock}
											
{BEGIN upvoted_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_upvoted_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="upvoted_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="upvoted_date" data-fieldname="upvoted_date" >


	<label class="r-search-label control-label" for="{$labelfor_upvoted_date}">
		{$label sgb_admin_suggestions upvoted_date }	</label>
	<div class="r-search-option">
		{$searchtype_upvoted_date}
	</div>
	<div class="r-search-field">
		{$upvoted_date_editcontrol}	</div>
	<div class="r-search-field">
		{$upvoted_date_editcontrol1}
	</div>
	
</div>

{END upvoted_date_fieldblock}
											
{BEGIN suggestion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_suggestion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="suggestion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="suggestion" data-fieldname="suggestion" >


	<label class="r-search-label control-label" for="{$labelfor_suggestion}">
		{$label sgb_admin_suggestions suggestion }	</label>
	<div class="r-search-option">
		{$searchtype_suggestion}
	</div>
	<div class="r-search-field">
		{$suggestion_editcontrol}	</div>
	<div class="r-search-field">
		{$suggestion_editcontrol1}
	</div>
	
</div>

{END suggestion_fieldblock}
											
{BEGIN vote_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vote}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vote{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="vote" data-fieldname="vote" >


	<label class="r-search-label control-label" for="{$labelfor_vote}">
		{$label sgb_admin_suggestions vote }	</label>
	<div class="r-search-option">
		{$searchtype_vote}
	</div>
	<div class="r-search-field">
		{$vote_editcontrol}	</div>
	<div class="r-search-field">
		{$vote_editcontrol1}
	</div>
	
</div>

{END vote_fieldblock}
											
{BEGIN categoryid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_categoryid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="categoryid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="categoryid" data-fieldname="categoryid" >


	<label class="r-search-label control-label" for="{$labelfor_categoryid}">
		{$label sgb_admin_suggestions categoryid }	</label>
	<div class="r-search-option">
		{$searchtype_categoryid}
	</div>
	<div class="r-search-field">
		{$categoryid_editcontrol}	</div>
	<div class="r-search-field">
		{$categoryid_editcontrol1}
	</div>
	
</div>

{END categoryid_fieldblock}
											
{BEGIN title_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_title}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="title{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="title" data-fieldname="title" >


	<label class="r-search-label control-label" for="{$labelfor_title}">
		{$label sgb_admin_suggestions title }	</label>
	<div class="r-search-option">
		{$searchtype_title}
	</div>
	<div class="r-search-field">
		{$title_editcontrol}	</div>
	<div class="r-search-field">
		{$title_editcontrol1}
	</div>
	
</div>

{END title_fieldblock}
											
{BEGIN comments_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_comments}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="comments{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="comments" data-fieldname="comments" >


	<label class="r-search-label control-label" for="{$labelfor_comments}">
		{$label sgb_admin_suggestions comments }	</label>
	<div class="r-search-option">
		{$searchtype_comments}
	</div>
	<div class="r-search-field">
		{$comments_editcontrol}	</div>
	<div class="r-search-field">
		{$comments_editcontrol1}
	</div>
	
</div>

{END comments_fieldblock}
											
{BEGIN images_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_images}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="images{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="images" data-fieldname="images" >


	<label class="r-search-label control-label" for="{$labelfor_images}">
		{$label sgb_admin_suggestions images }	</label>
	<div class="r-search-option">
		{$searchtype_images}
	</div>
	<div class="r-search-field">
		{$images_editcontrol}	</div>
	<div class="r-search-field">
		{$images_editcontrol1}
	</div>
	
</div>

{END images_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label sgb_admin_suggestions email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label sgb_admin_suggestions name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
