/*!
*  AnyChart Fonts by AnyChart - http://anychart.com
*  License - Apache 2.0 License
*/
@font-face {
    font-family: "anychart";
    src: url("../fonts/anychart.eot?343712da1e0010605f46de9a61f8be62?#iefix") format("embedded-opentype"),
url("../fonts/anychart.woff2?343712da1e0010605f46de9a61f8be62") format("woff2"),
url("../fonts/anychart.woff?343712da1e0010605f46de9a61f8be62") format("woff"),
url("../fonts/anychart.ttf?343712da1e0010605f46de9a61f8be62") format("truetype"),
url("../fonts/anychart.svg?343712da1e0010605f46de9a61f8be62#anychart") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="ac-"], [class*=" ac-"] {
    font-family: anychart !important;
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ac-align-center:before {
    content: "\f101";
}
.ac-align-justify:before {
    content: "\f102";
}
.ac-align-left:before {
    content: "\f103";
}
.ac-align-right:before {
    content: "\f104";
}
.ac-all-sides:before {
    content: "\f105";
}
.ac-anchor-center-bottom:before {
    content: "\f106";
}
.ac-anchor-center-top:before {
    content: "\f107";
}
.ac-anchor-center:before {
    content: "\f108";
}
.ac-anchor-left-bottom:before {
    content: "\f109";
}
.ac-anchor-left-center:before {
    content: "\f10a";
}
.ac-anchor-left-top:before {
    content: "\f10b";
}
.ac-anchor-right-bottom:before {
    content: "\f10c";
}
.ac-anchor-right-center:before {
    content: "\f10d";
}
.ac-anchor-right-top:before {
    content: "\f10e";
}
.ac-andrews-pitchfork:before {
    content: "\f10f";
}
.ac-anychart:before {
    content: "\f110";
}
.ac-anychart2:before {
    content: "\f111";
}
.ac-anygantt:before {
    content: "\f112";
}
.ac-anymap:before {
    content: "\f113";
}
.ac-anymap2:before {
    content: "\f114";
}
.ac-anystock:before {
    content: "\f115";
}
.ac-api:before {
    content: "\f116";
}
.ac-arrow-down-left-square:before {
    content: "\f117";
}
.ac-arrow-down-left-thin:before {
    content: "\f118";
}
.ac-arrow-down-right-square:before {
    content: "\f119";
}
.ac-arrow-down-right-thin:before {
    content: "\f11a";
}
.ac-arrow-down-square:before {
    content: "\f11b";
}
.ac-arrow-down-thin:before {
    content: "\f11c";
}
.ac-arrow-down:before {
    content: "\f11d";
}
.ac-arrow-left-square:before {
    content: "\f11e";
}
.ac-arrow-left-thin:before {
    content: "\f11f";
}
.ac-arrow-left:before {
    content: "\f120";
}
.ac-arrow-right-square:before {
    content: "\f121";
}
.ac-arrow-right-thin:before {
    content: "\f122";
}
.ac-arrow-right:before {
    content: "\f123";
}
.ac-arrow-up-left-square:before {
    content: "\f124";
}
.ac-arrow-up-left-thin:before {
    content: "\f125";
}
.ac-arrow-up-right-square:before {
    content: "\f126";
}
.ac-arrow-up-right-thin:before {
    content: "\f127";
}
.ac-arrow-up-square:before {
    content: "\f128";
}
.ac-arrow-up-thin:before {
    content: "\f129";
}
.ac-arrow-up:before {
    content: "\f12a";
}
.ac-asterisk:before {
    content: "\f12b";
}
.ac-backward:before {
    content: "\f12c";
}
.ac-bars:before {
    content: "\f12d";
}
.ac-bold:before {
    content: "\f12e";
}
.ac-book:before {
    content: "\f12f";
}
.ac-bookmark:before {
    content: "\f130";
}
.ac-bullhorn-2:before {
    content: "\f131";
}
.ac-bullhorn:before {
    content: "\f132";
}
.ac-calendar-plus-o:before {
    content: "\f133";
}
.ac-calendar:before {
    content: "\f134";
}
.ac-caret-down:before {
    content: "\f135";
}
.ac-caret-left:before {
    content: "\f136";
}
.ac-caret-right:before {
    content: "\f137";
}
.ac-caret-up:before {
    content: "\f138";
}
.ac-chart-area:before {
    content: "\f139";
}
.ac-chart-column:before {
    content: "\f13a";
}
.ac-chart-column2:before {
    content: "\f13b";
}
.ac-chart-database-o:before {
    content: "\f13c";
}
.ac-chart-database-o2:before {
    content: "\f13d";
}
.ac-chart-financial:before {
    content: "\f13e";
}
.ac-chart-gauge:before {
    content: "\f13f";
}
.ac-chart-ruler-o:before {
    content: "\f140";
}
.ac-chart-ruler-pencil:before {
    content: "\f141";
}
.ac-chart-ruler-pencil2:before {
    content: "\f142";
}
.ac-chart-ruler:before {
    content: "\f143";
}
.ac-charts-many:before {
    content: "\f144";
}
.ac-check-circle-o:before {
    content: "\f145";
}
.ac-check-circle-thick:before {
    content: "\f146";
}
.ac-check-thin:before {
    content: "\f147";
}
.ac-check:before {
    content: "\f148";
}
.ac-checkbox-checked:before {
    content: "\f149";
}
.ac-chevron-circle-down-thin:before {
    content: "\f14a";
}
.ac-chevron-circle-down:before {
    content: "\f14b";
}
.ac-chevron-circle-left-thin:before {
    content: "\f14c";
}
.ac-chevron-circle-left:before {
    content: "\f14d";
}
.ac-chevron-circle-right-thin:before {
    content: "\f14e";
}
.ac-chevron-circle-right:before {
    content: "\f14f";
}
.ac-chevron-circle-up-thin:before {
    content: "\f150";
}
.ac-chevron-circle-up:before {
    content: "\f151";
}
.ac-chevron-down-thick:before {
    content: "\f152";
}
.ac-chevron-down:before {
    content: "\f153";
}
.ac-chevron-left-thick:before {
    content: "\f154";
}
.ac-chevron-left:before {
    content: "\f155";
}
.ac-chevron-right-thick:before {
    content: "\f156";
}
.ac-chevron-right:before {
    content: "\f157";
}
.ac-chevron-up-thick:before {
    content: "\f158";
}
.ac-chevron-up:before {
    content: "\f159";
}
.ac-circle-filled:before {
    content: "\f15a";
}
.ac-clear:before {
    content: "\f15b";
}
.ac-clipboard:before {
    content: "\f15c";
}
.ac-clone:before {
    content: "\f15d";
}
.ac-cloud-upload:before {
    content: "\f15e";
}
.ac-code:before {
    content: "\f15f";
}
.ac-cog-o:before {
    content: "\f160";
}
.ac-cog:before {
    content: "\f161";
}
.ac-collapse:before {
    content: "\f162";
}
.ac-comment-o:before {
    content: "\f163";
}
.ac-comment:before {
    content: "\f164";
}
.ac-comments-o:before {
    content: "\f165";
}
.ac-cross-filled:before {
    content: "\f166";
}
.ac-cross:before {
    content: "\f167";
}
.ac-cut-corners:before {
    content: "\f168";
}
.ac-deaf:before {
    content: "\f169";
}
.ac-decomposition-tree:before {
    content: "\f16a";
}
.ac-desktop:before {
    content: "\f16b";
}
.ac-diagonal-cros:before {
    content: "\f16c";
}
.ac-diagonal-sides1:before {
    content: "\f16d";
}
.ac-diagonal-sides2:before {
    content: "\f16e";
}
.ac-diamond-filled:before {
    content: "\f16f";
}
.ac-diamond:before {
    content: "\f170";
}
.ac-disk-slash:before {
    content: "\f171";
}
.ac-dot-square-o:before {
    content: "\f172";
}
.ac-download-chart:before {
    content: "\f173";
}
.ac-download-picture:before {
    content: "\f174";
}
.ac-download-zip:before {
    content: "\f175";
}
.ac-download:before {
    content: "\f176";
}
.ac-edit:before {
    content: "\f177";
}
.ac-ellipse-thin:before {
    content: "\f178";
}
.ac-ellipse:before {
    content: "\f179";
}
.ac-enlarge:before {
    content: "\f17a";
}
.ac-envelope:before {
    content: "\f17b";
}
.ac-exclamation:before {
    content: "\f17c";
}
.ac-expand:before {
    content: "\f17d";
}
.ac-facebook:before {
    content: "\f17e";
}
.ac-fibonacci-arc:before {
    content: "\f17f";
}
.ac-fibonacci-fan:before {
    content: "\f180";
}
.ac-fibonacci-retracement:before {
    content: "\f181";
}
.ac-fibonacci-timezones:before {
    content: "\f182";
}
.ac-file-archive-o:before {
    content: "\f183";
}
.ac-file-code-o:before {
    content: "\f184";
}
.ac-file-excel-o:before {
    content: "\f185";
}
.ac-file-image-o:before {
    content: "\f186";
}
.ac-file-pdf-o:before {
    content: "\f187";
}
.ac-file-text:before {
    content: "\f188";
}
.ac-fill-o:before {
    content: "\f189";
}
.ac-fill:before {
    content: "\f18a";
}
.ac-finite-trend-channel:before {
    content: "\f18b";
}
.ac-folder-open:before {
    content: "\f18c";
}
.ac-folder:before {
    content: "\f18d";
}
.ac-font:before {
    content: "\f18e";
}
.ac-forward:before {
    content: "\f18f";
}
.ac-forward2:before {
    content: "\f190";
}
.ac-free:before {
    content: "\f191";
}
.ac-git:before {
    content: "\f192";
}
.ac-globe:before {
    content: "\f193";
}
.ac-group:before {
    content: "\f194";
}
.ac-h-line-dashed-1:before {
    content: "\f195";
}
.ac-h-line-dashed-2:before {
    content: "\f196";
}
.ac-h-line-dashed-3:before {
    content: "\f197";
}
.ac-h-line-dashed-4:before {
    content: "\f198";
}
.ac-h-line-dashed-5:before {
    content: "\f199";
}
.ac-h-line-dotted-1:before {
    content: "\f19a";
}
.ac-h-line-dotted-2:before {
    content: "\f19b";
}
.ac-h-line-dotted-3:before {
    content: "\f19c";
}
.ac-h-line-dotted-4:before {
    content: "\f19d";
}
.ac-h-line-dotted-5:before {
    content: "\f19e";
}
.ac-h-line-thickness-1:before {
    content: "\f19f";
}
.ac-h-line-thickness-2:before {
    content: "\f1a0";
}
.ac-h-line-thickness-3:before {
    content: "\f1a1";
}
.ac-h-line-thickness-4:before {
    content: "\f1a2";
}
.ac-h-line-thickness-5:before {
    content: "\f1a3";
}
.ac-head-arrow:before {
    content: "\f1a4";
}
.ac-horizontal-line:before {
    content: "\f1a5";
}
.ac-horizontal-range:before {
    content: "\f1a6";
}
.ac-html5:before {
    content: "\f1a7";
}
.ac-infinite-line:before {
    content: "\f1a8";
}
.ac-info-circle:before {
    content: "\f1a9";
}
.ac-info:before {
    content: "\f1aa";
}
.ac-italic:before {
    content: "\f1ab";
}
.ac-javascript:before {
    content: "\f1ac";
}
.ac-jsfiddle:before {
    content: "\f1ad";
}
.ac-keyboard-o:before {
    content: "\f1ae";
}
.ac-label-center-inside:before {
    content: "\f1af";
}
.ac-label-left-inside:before {
    content: "\f1b0";
}
.ac-label-left-outside:before {
    content: "\f1b1";
}
.ac-label-right-inside:before {
    content: "\f1b2";
}
.ac-label-right-outside:before {
    content: "\f1b3";
}
.ac-left-side:before {
    content: "\f1b4";
}
.ac-light-bulb:before {
    content: "\f1b5";
}
.ac-line:before {
    content: "\f1b6";
}
.ac-linkedin:before {
    content: "\f1b7";
}
.ac-lock:before {
    content: "\f1b8";
}
.ac-logo:before {
    content: "\f1b9";
}
.ac-low-vision:before {
    content: "\f1ba";
}
.ac-map-o:before {
    content: "\f1bb";
}
.ac-map2-o:before {
    content: "\f1bc";
}
.ac-medium:before {
    content: "\f1bd";
}
.ac-minus:before {
    content: "\f1be";
}
.ac-mobile-phone:before {
    content: "\f1bf";
}
.ac-mobile:before {
    content: "\f1c0";
}
.ac-mouse-pointer:before {
    content: "\f1c1";
}
.ac-net:before {
    content: "\f1c2";
}
.ac-new-tab:before {
    content: "\f1c3";
}
.ac-object-group:before {
    content: "\f1c4";
}
.ac-object-ungroup:before {
    content: "\f1c5";
}
.ac-overline:before {
    content: "\f1c6";
}
.ac-pause:before {
    content: "\f1c7";
}
.ac-pentagon:before {
    content: "\f1c8";
}
.ac-phone-call:before {
    content: "\f1c9";
}
.ac-picture-o:before {
    content: "\f1ca";
}
.ac-pinterest:before {
    content: "\f1cb";
}
.ac-plane:before {
    content: "\f1cc";
}
.ac-play:before {
    content: "\f1cd";
}
.ac-plus:before {
    content: "\f1ce";
}
.ac-position-bottom:before {
    content: "\f1cf";
}
.ac-position-center:before {
    content: "\f1d0";
}
.ac-position-center2:before {
    content: "\f1d1";
}
.ac-position-left:before {
    content: "\f1d2";
}
.ac-position-right:before {
    content: "\f1d3";
}
.ac-position-top:before {
    content: "\f1d4";
}
.ac-preview:before {
    content: "\f1d5";
}
.ac-print:before {
    content: "\f1d6";
}
.ac-print2:before {
    content: "\f1d7";
}
.ac-puzzle-o:before {
    content: "\f1d8";
}
.ac-puzzle:before {
    content: "\f1d9";
}
.ac-question-circle-1:before {
    content: "\f1da";
}
.ac-question-circle-o:before {
    content: "\f1db";
}
.ac-question-circle-thin:before {
    content: "\f1dc";
}
.ac-question-circle:before {
    content: "\f1dd";
}
.ac-question:before {
    content: "\f1de";
}
.ac-random:before {
    content: "\f1df";
}
.ac-ray:before {
    content: "\f1e0";
}
.ac-rectangle-1:before {
    content: "\f1e1";
}
.ac-rectangle-2:before {
    content: "\f1e2";
}
.ac-rectangle:before {
    content: "\f1e3";
}
.ac-redo:before {
    content: "\f1e4";
}
.ac-refresh:before {
    content: "\f1e5";
}
.ac-remove-circle:before {
    content: "\f1e6";
}
.ac-remove-thin:before {
    content: "\f1e7";
}
.ac-remove:before {
    content: "\f1e8";
}
.ac-remove2-thin:before {
    content: "\f1e9";
}
.ac-reply:before {
    content: "\f1ea";
}
.ac-resize:before {
    content: "\f1eb";
}
.ac-reverse:before {
    content: "\f1ec";
}
.ac-right-side:before {
    content: "\f1ed";
}
.ac-round-corners:before {
    content: "\f1ee";
}
.ac-round-inner-corners:before {
    content: "\f1ef";
}
.ac-rss:before {
    content: "\f1f0";
}
.ac-ruler-paint-brush-o:before {
    content: "\f1f1";
}
.ac-ruler-paint-brush:before {
    content: "\f1f2";
}
.ac-save:before {
    content: "\f1f3";
}
.ac-search:before {
    content: "\f1f4";
}
.ac-search2:before {
    content: "\f1f5";
}
.ac-share:before {
    content: "\f1f6";
}
.ac-small-caps:before {
    content: "\f1f7";
}
.ac-smile:before {
    content: "\f1f8";
}
.ac-sort-alpha-asc:before {
    content: "\f1f9";
}
.ac-sort-alpha-desc:before {
    content: "\f1fa";
}
.ac-sort-amount-asc:before {
    content: "\f1fb";
}
.ac-sort-amount-desc:before {
    content: "\f1fc";
}
.ac-sort-asc:before {
    content: "\f1fd";
}
.ac-sort-desc:before {
    content: "\f1fe";
}
.ac-sort-numeric-asc:before {
    content: "\f1ff";
}
.ac-sort-numeric-desc:before {
    content: "\f200";
}
.ac-sort:before {
    content: "\f201";
}
.ac-square-corners:before {
    content: "\f202";
}
.ac-square-double-o:before {
    content: "\f203";
}
.ac-square:before {
    content: "\f204";
}
.ac-stacked_area:before {
    content: "\f205";
}
.ac-star-1:before {
    content: "\f206";
}
.ac-star-2:before {
    content: "\f207";
}
.ac-star-3:before {
    content: "\f208";
}
.ac-star-4:before {
    content: "\f209";
}
.ac-star-5:before {
    content: "\f20a";
}
.ac-star-half-o:before {
    content: "\f20b";
}
.ac-star-o:before {
    content: "\f20c";
}
.ac-star:before {
    content: "\f20d";
}
.ac-stop:before {
    content: "\f20e";
}
.ac-strikethrough:before {
    content: "\f20f";
}
.ac-support:before {
    content: "\f210";
}
.ac-tint:before {
    content: "\f211";
}
.ac-trapezium:before {
    content: "\f212";
}
.ac-trash-o:before {
    content: "\f213";
}
.ac-trend-channel:before {
    content: "\f214";
}
.ac-triangle-down-filled:before {
    content: "\f215";
}
.ac-triangle-down:before {
    content: "\f216";
}
.ac-triangle-left:before {
    content: "\f217";
}
.ac-triangle-right:before {
    content: "\f218";
}
.ac-triangle-up-filled:before {
    content: "\f219";
}
.ac-triangle-up:before {
    content: "\f21a";
}
.ac-triangle:before {
    content: "\f21b";
}
.ac-twitter-x:before {
    content: "\f21c";
}
.ac-twitter:before {
    content: "\f21d";
}
.ac-underline:before {
    content: "\f21e";
}
.ac-undo:before {
    content: "\f21f";
}
.ac-universal-access:before {
    content: "\f220";
}
.ac-unlock-alt:before {
    content: "\f221";
}
.ac-unlock:before {
    content: "\f222";
}
.ac-upload:before {
    content: "\f223";
}
.ac-user-plus:before {
    content: "\f224";
}
.ac-user-tie:before {
    content: "\f225";
}
.ac-users:before {
    content: "\f226";
}
.ac-v-line-dotted:before {
    content: "\f227";
}
.ac-vertical-line:before {
    content: "\f228";
}
.ac-vertical-range:before {
    content: "\f229";
}
.ac-yoda:before {
    content: "\f22a";
}
.ac-zoom-in:before {
    content: "\f22b";
}
.ac-zoom-out:before {
    content: "\f22c";
}

.ac-fallback-symbol {
    display: none;
}