<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-login" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
				.r-pretty-login-page > .r-controls {
					background: white;
				}
				.r-pretty-login-page > .r-sideimage {
					background: #00274c;
				}
		</style>

		<div class="r-pretty-login-page"
						 data-image-shadow 					>
			<div class="r-controls">
				<div class="r-mainform">
													{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="pretty-login" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class="r-align-left r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="login-logo" data-itemid="login-logo" {$item_login-logo} data-pageid="{$pageid}" data-page=".global_login" data-small >
	{$logo}
</span>
		</div>			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="text" data-itemid="text1" {$item_text1} data-pageid="{$pageid}" data-page=".global_login" data-small > 
	Welcome To Health Information Systems Performance Monitoring Dashboard (HISPMD)</span>
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c3" data-pageid="{$pageid}"	{$cell_top_c3}
	class=" r-ori-vert			col-md-12
	
">
		 
		<span data-itemtype="login_welcome" data-itemid="login_welcome" {$item_login_welcome} data-pageid="{$pageid}" data-page=".global_login" data-small >
Login into your account</span>
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="pretty-login" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN message_block}
<div data-itemtype="login_message" data-itemid="login_message" {$item_login_message} data-pageid="{$pageid}" data-page=".global_login" class="alert {$message_class}" role="alert">
{$message}
	</div>
{END message_block}		</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
<table class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="pretty-login" {$form_grid} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_grid_0} >
									<td 
	class=" r-ori-vert			"
	colspan="2"		 
	data-cellId="grid_c1" data-pageid="{$pageid}">
 
<label data-itemtype="username_label" data-itemid="username_label" {$item_username_label} data-pageid="{$pageid}" data-page=".global_login" data-small class="r-edit-label control-label" for="username">
	{BEGIN username_label}Username{END username_label}
</label> 
<div class="r-edit-field" data-itemtype="username" data-itemid="username" {$item_username} data-pageid="{$pageid}" >
	<input type="text" class="form-control" name="username" {$username_attrs} id="username">
</div></td>
							</tr>
											<tr {$row_grid_1} >
									<td 
	class=" r-ori-vert			"
	colspan="2"		 
	data-cellId="grid_c2" data-pageid="{$pageid}">
 
<label data-itemtype="password_label" data-itemid="password_label" {$item_password_label} data-pageid="{$pageid}" data-page=".global_login" data-small class="r-edit-label control-label" for="password">
	{BEGIN password_label}Password{END password_label}
</label> 
<div class="r-edit-field" data-itemtype="password" data-itemid="password" {$item_password} data-pageid="{$pageid}" >
	<input type="password" class="form-control" name="password" {$password_attrs} id="password">
</div></td>
							</tr>
											<tr {$row_grid_2} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_c4" data-pageid="{$pageid}">
 
<div class="checkbox r-edit-field" data-itemtype="remember_password" data-itemid="remember_password" {$item_remember_password} data-pageid="{$pageid}" data-page=".global_login" >
	<label>
		<input type="checkbox" id="remember_password{$id}" name="remember_password" value="1" {$rememberbox_attrs}> Remember me	</label>
</div></td>
									<td 
	class="r-align-right r-ori-vert			"
			 
	data-cellId="grid_c6" data-pageid="{$pageid}">
 
{BEGIN guestlink_block}
<span data-itemtype="guest_login" data-itemid="guest_login" {$item_guest_login} data-pageid="{$pageid}" data-page=".global_login" data-small data-button-item>
	<a type="button" title="" class="btn btn-warning   
	" {$guestlink_attrs} >
							Login as Guest			</a>
</span>
{END guestlink_block}
</td>
							</tr>
					
					</tbody>
				</table>
{END grid_block}
									{BEGIN footer_block}
<table class="r-fluid r-form" data-location="footer" id="form_footer_{$pageid}" data-makeup="pretty-login" {$form_footer} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_footer_0} >
									<td 
	class="			"
			 
	data-cellId="footer_c1" data-pageid="{$pageid}">
 
{BEGIN signin_button}
<span data-itemtype="login_button" data-itemid="login_button" {$item_login_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$loginlink_attrs} >
							Sign in			</a>
</span>
{END signin_button}
 
{BEGIN continue_button}
<span data-itemtype="continue_login_button" data-itemid="continue_login_button" {$item_continue_login_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$continuebutton_attrs} >
							Continue			</a>
</span>
{END continue_button}
</td>
									<td 
	class="r-align-right r-ori-vert			"
			 
	data-cellId="footer_c2" data-pageid="{$pageid}">
</td>
							</tr>
											<tr {$row_footer_1} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="footer_c" data-pageid="{$pageid}">
 
<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-page=".global_login" data-small > 
	<p><br></p><a href="../../" target="" rel=""><strong>Go Back to Home Page</strong></a></span>
</td>
									<td 
	class="r-align-right r-ori-vert			"
			 
	data-cellId="footer_c3" data-pageid="{$pageid}">
</td>
							</tr>
					
					</tbody>
				</table>
{END footer_block}
									{BEGIN superbottom_block}
<table class="r-fluid r-form" data-location="superbottom" id="form_superbottom_{$pageid}" data-makeup="pretty-login" {$form_superbottom} data-pageid="{$pageid}" >
						<tbody>
			
		
					</tbody>
				</table>
{END superbottom_block}
					</div>
			</div>
			<div class="r-sideimage">
							<div class="r-image"  >
					<img data-itemtype="page_image" data-itemid="page_image_ash8f23hr" {$item_page_image_ash8f23hr} data-pageid="{$pageid}" data-page=".global_login" src="images/MOH_logo_text_white.png" />
				</div>
						</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
