<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="./moh.png" />		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-menu"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form r-align-left navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form r-align-left navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form r-align-left navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="text1" {$item_text1} data-topcell-item-type="text" >
				<span data-itemtype="text" data-itemid="text1" {$item_text1} data-pageid="{$pageid}" data-small > 
	<p><img src="./moh_white.png" alt="Health Information System Performance Monitoring Dashboard (HISPMD)" width="100%" height="30" class="mCS_img_loaded" /></p></span>
			</span>
							 
							 
				<span class="navbar-form r-align-right r-ori-vert navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="text" {$item_text} data-topcell-item-type="text" >
				<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-page=".global_menu" data-small > 
	Health Information Systems Performance Monitoring Dashboard</span>
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
												</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class=" r-ori-vert			col-md-6
	
">
			</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c" data-pageid="{$pageid}"	{$cell_above-grid_c}
	class=" r-ori-vert			col-md-6
	
">
		 
				
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item15" {$item_welcome_item15} data-pageid="{$pageid}" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="webreport.php"  > 
							Web Reports					</a>
	</div>

			
	<div class="bs-welcome-content">
		Web Reports and Charts	</div>
	</div>

		</div>			 
				<div 
	data-cellId="above-grid_c3" data-pageid="{$pageid}"	{$cell_above-grid_c3}
	class=" r-ori-vert			col-md-6
	
">
		 
		
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item31" {$item_welcome_item31} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="ai_data_assistant_list.php"  > 
							AI Data Assistant					</a>
	</div>

	</div>

		</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}
<table class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_grid_0} >
									<td 
	
			 
	data-cellId="grid_c1" data-pageid="{$pageid}">
<div class="r-welcome-align">
 
<div class="clearfix col-lg-12 col-md-12 col-sm-12 welcome-group" data-itemtype="welcome_group" data-itemid="welcome_group" {$item_welcome_group} data-pageid="{$pageid}">
	<h2>
					HISPMD Indicators		
			</h2>
	 
	</div>

			
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item" {$item_welcome_item} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="24">
	<div class="bs-welcome-header">
		<a id="itemlink" href="dataquality_list.php"  > 
							<span class="glyphicon glyphicon-tree-conifer"></span>Data Quality					</a>
	</div>

			
	<div class="bs-welcome-content">
		Data Quality description	</div>
	</div>

			
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item1" {$item_welcome_item1} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="20">
	<div class="bs-welcome-header">
		<a id="itemlink" href="datause_list.php"  > 
							<span class="glyphicon glyphicon-fire"></span>Data Use					</a>
	</div>

			
	<div class="bs-welcome-content">
		Data Use description	</div>
	</div>

			
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item2" {$item_welcome_item2} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="26">
	<div class="bs-welcome-header">
		<a id="itemlink" href="digitalhealth_list.php"  > 
							<span class="glyphicon glyphicon-hand-right"></span>Digital Health					</a>
	</div>

			
	<div class="bs-welcome-content">
		Digital Health description	</div>
	</div>

			
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item3" {$item_welcome_item3} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="31">
	<div class="bs-welcome-header">
		<a id="itemlink" href="digitalhealthapps_list.php"  > 
							<span class="glyphicon glyphicon-leaf"></span>Digital Health Apps					</a>
	</div>

			
	<div class="bs-welcome-content">
		Digital Health Apps description	</div>
	</div>

			
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item4" {$item_welcome_item4} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="31">
	<div class="bs-welcome-header">
		<a id="itemlink" href="financialresources_list.php"  > 
							<span class="glyphicon glyphicon-shopping-cart"></span>Financial Resources					</a>
	</div>

			
	<div class="bs-welcome-content">
		Financial Resources description	</div>
	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item5" {$item_welcome_item5} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="hisgovernance_list.php"  > 
							<span class="glyphicon glyphicon-calendar"></span>HISGovernance					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item6" {$item_welcome_item6} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="hispartners_list.php"  > 
							<span class="glyphicon glyphicon-camera"></span>HISPartners					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item7" {$item_welcome_item7} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="healthfacilities_list.php"  > 
							Health Facilities					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item8" {$item_welcome_item8} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="healthunits_list.php"  > 
							Health Units					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item9" {$item_welcome_item9} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="publications_list.php"  > 
							Publications					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item10" {$item_welcome_item10} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="regions_list.php"  > 
							Regions					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item12" {$item_welcome_item12} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="workforce_list.php"  > 
							Workforce					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item11" {$item_welcome_item11} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="research_list.php"  > 
							Research					</a>
	</div>

	</div>

<div class="clearfix"></div>
</div>
</td>
							</tr>
											<tr {$row_grid_1} >
									<td 
	
			 
	data-cellId="grid_c" data-pageid="{$pageid}">
<div class="r-welcome-align">
 
<div class="clearfix col-lg-12 col-md-12 col-sm-12 welcome-group" data-itemtype="welcome_group" data-itemid="welcome_group1" {$item_welcome_group1} data-pageid="{$pageid}">
	<h2>
					Master Facility Registry: MFR		
			</h2>
	 
	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item21" {$item_welcome_item21} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_dashboard_reports_list.php"  > 
							MFR Dashboard Reports					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item22" {$item_welcome_item22} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_operational_status_list.php"  > 
							MFR Operational Status					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item27" {$item_welcome_item27} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_geolocation_reports_dashboard.php"  > 
							MFR Geolocation Reports					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item23" {$item_welcome_item23} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_region_list.php"  > 
							MFR Region					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item24" {$item_welcome_item24} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_zone_list.php"  > 
							MFR Zone					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item25" {$item_welcome_item25} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_woreda_list.php"  > 
							MFR Woreda					</a>
	</div>

	</div>

<div class="clearfix"></div>
</div>
</td>
							</tr>
											<tr {$row_grid_2} >
									<td 
	
			 
	data-cellId="grid_c6" data-pageid="{$pageid}">
<div class="r-welcome-align">
 
<div class="clearfix col-lg-12 col-md-12 col-sm-12 welcome-group" data-itemtype="welcome_group" data-itemid="welcome_group2" {$item_welcome_group2} data-pageid="{$pageid}">
	<h2>
					Master Facility Registry: MFR CHARTS		
			</h2>
	 
	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item14" {$item_welcome_item14} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_dashboard_reports_chart_chart.php"  > 
							MFR Dashboard Reports Chart					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item26" {$item_welcome_item26} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_operational_status_chart_chart.php"  > 
							MFR Operational Status Chart					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item28" {$item_welcome_item28} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_region_chart_chart.php"  > 
							MFR Region Chart					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item29" {$item_welcome_item29} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_zone_chart_chart.php"  > 
							MFR Zone Chart					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item30" {$item_welcome_item30} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_woreda_chart_chart.php"  > 
							MFR Woreda Chart					</a>
	</div>

	</div>

<div class="clearfix"></div>
</div>
</td>
							</tr>
											<tr {$row_grid_3} >
									<td 
	
			 
	data-cellId="grid_c5" data-pageid="{$pageid}">
<div class="r-welcome-align">
 
<div class="clearfix col-lg-12 col-md-12 col-sm-12 welcome-group" data-itemtype="welcome_group" data-itemid="welcome_group3" {$item_welcome_group3} data-pageid="{$pageid}">
	<h2>
					MFR Data Update Setting		
			</h2>
	 
	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item13" {$item_welcome_item13} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_dashboard_report_list.php"  > 
							MFR Dashboard Report					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item16" {$item_welcome_item16} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_status_report_list.php"  > 
							MFR Status Report					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item17" {$item_welcome_item17} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_region_report_list.php"  > 
							MFR Region Report					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item19" {$item_welcome_item19} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_zone_report_list.php"  > 
							MFR Zone Report					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item20" {$item_welcome_item20} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_woreda_report_list.php"  > 
							MFR Woreda Report					</a>
	</div>

	</div>

	
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item18" {$item_welcome_item18} data-pageid="{$pageid}" data-page=".global_menu" data-comment-len="0">
	<div class="bs-welcome-header">
		<a id="itemlink" href="mfr_facilities_list.php"  > 
							MFR Facilities					</a>
	</div>

	</div>

<div class="clearfix"></div>
</div>
</td>
							</tr>
											<tr {$row_grid_4} >
									<td 
	
			 
	data-cellId="grid_c2" data-pageid="{$pageid}">
<div class="r-welcome-align">
</div>
</td>
							</tr>
											<tr {$row_grid_5} >
									<td 
	
			 
	data-cellId="grid_c3" data-pageid="{$pageid}">
<div class="r-welcome-align">
</div>
</td>
							</tr>
					
					</tbody>
				</table>
{END grid_block}
	</div>
<div class="r-below">
			</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
