<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_adminarea}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_adminarea}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		{% if (o.newWindow ) { %} 
			target="_blank"
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel admin_users edit}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="admin_users_view.php?{$editlink}" {$view_page_button_attrs}>View</a>
{END message_view_page_button}
</div>
</div>
			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN userpic_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_userpic}  r-vertical-field" 
	data-signal-error-for="userpic{$id}" {$required_attr_userpic}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="userpic" data-fieldname="userpic" >

	<label class="r-edit-label control-label" for="{$labelfor_userpic}">
		{BEGIN userpic_label}{$label admin_users userpic }{END userpic_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$userpic_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="userpic" {$tooltipAttr admin_users userpic } >
		<div class="text-muted" >
		{$tooltip admin_users userpic }		</div>
	</div>
</div>


{END userpic_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
			 
		
							

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c4}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c21}
<td
	{$cell_grid_c21}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c21" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ID}  r-vertical-field" 
	data-signal-error-for="ID{$id}" {$required_attr_ID}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="ID" data-fieldname="ID" >

	<label class="r-edit-label control-label" for="{$labelfor_ID}">
		{BEGIN ID_label}{$label admin_users ID }{END ID_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ID" {$tooltipAttr admin_users ID } >
		<div class="text-muted" >
		{$tooltip admin_users ID }		</div>
	</div>
</div>


{END ID_fieldblock}
	
								</td>
			{END cellblock_grid_c21}
			 
																

{BEGIN cellblock_grid_c22}
<td
	{$cell_grid_c22}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c22" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN username_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-vertical-field" 
	data-signal-error-for="username{$id}" {$required_attr_username}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="username" data-fieldname="username" >

	<label class="r-edit-label control-label" for="{$labelfor_username}">
		{BEGIN username_label}{$label admin_users username }{END username_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$username_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="username" {$tooltipAttr admin_users username } >
		<div class="text-muted" >
		{$tooltip admin_users username }		</div>
	</div>
</div>


{END username_fieldblock}
	
								</td>
			{END cellblock_grid_c22}
			 
																

{BEGIN cellblock_grid_c23}
<td
	{$cell_grid_c23}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c23" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fullname_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fullname}  r-vertical-field" 
	data-signal-error-for="fullname{$id}" {$required_attr_fullname}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="fullname" data-fieldname="fullname" >

	<label class="r-edit-label control-label" for="{$labelfor_fullname}">
		{BEGIN fullname_label}{$label admin_users fullname }{END fullname_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fullname_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fullname" {$tooltipAttr admin_users fullname } >
		<div class="text-muted" >
		{$tooltip admin_users fullname }		</div>
	</div>
</div>


{END fullname_fieldblock}
	
								</td>
			{END cellblock_grid_c23}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN first_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_first_name}  r-vertical-field" 
	data-signal-error-for="first_name{$id}" {$required_attr_first_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="first_name" data-fieldname="first_name" >

	<label class="r-edit-label control-label" for="{$labelfor_first_name}">
		{BEGIN first_name_label}{$label admin_users first_name }{END first_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$first_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="first_name" {$tooltipAttr admin_users first_name } >
		<div class="text-muted" >
		{$tooltip admin_users first_name }		</div>
	</div>
</div>


{END first_name_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
			 
																

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN middle_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_middle_name}  r-vertical-field" 
	data-signal-error-for="middle_name{$id}" {$required_attr_middle_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="middle_name" data-fieldname="middle_name" >

	<label class="r-edit-label control-label" for="{$labelfor_middle_name}">
		{BEGIN middle_name_label}{$label admin_users middle_name }{END middle_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$middle_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="middle_name" {$tooltipAttr admin_users middle_name } >
		<div class="text-muted" >
		{$tooltip admin_users middle_name }		</div>
	</div>
</div>


{END middle_name_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
			 
																

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN last_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_last_name}  r-vertical-field" 
	data-signal-error-for="last_name{$id}" {$required_attr_last_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="last_name" data-fieldname="last_name" >

	<label class="r-edit-label control-label" for="{$labelfor_last_name}">
		{BEGIN last_name_label}{$label admin_users last_name }{END last_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$last_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="last_name" {$tooltipAttr admin_users last_name } >
		<div class="text-muted" >
		{$tooltip admin_users last_name }		</div>
	</div>
</div>


{END last_name_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-signal-error-for="email{$id}" {$required_attr_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >

	<label class="r-edit-label control-label" for="{$labelfor_email}">
		{BEGIN email_label}{$label admin_users email }{END email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="email" {$tooltipAttr admin_users email } >
		<div class="text-muted" >
		{$tooltip admin_users email }		</div>
	</div>
</div>


{END email_fieldblock}
	
								</td>
			{END cellblock_grid_c18}
			 
																

{BEGIN cellblock_grid_c19}
<td
	{$cell_grid_c19}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c19" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN phone_number_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_phone_number}  r-vertical-field" 
	data-signal-error-for="phone_number{$id}" {$required_attr_phone_number}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="phone_number" data-fieldname="phone_number" >

	<label class="r-edit-label control-label" for="{$labelfor_phone_number}">
		{BEGIN phone_number_label}{$label admin_users phone_number }{END phone_number_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$phone_number_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="phone_number" {$tooltipAttr admin_users phone_number } >
		<div class="text-muted" >
		{$tooltip admin_users phone_number }		</div>
	</div>
</div>


{END phone_number_fieldblock}
	
								</td>
			{END cellblock_grid_c19}
			 
																

{BEGIN cellblock_grid_c20}
<td
	{$cell_grid_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c20" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN designation_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_designation}  r-vertical-field" 
	data-signal-error-for="designation{$id}" {$required_attr_designation}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="designation" data-fieldname="designation" >

	<label class="r-edit-label control-label" for="{$labelfor_designation}">
		{BEGIN designation_label}{$label admin_users designation }{END designation_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$designation_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="designation" {$tooltipAttr admin_users designation } >
		<div class="text-muted" >
		{$tooltip admin_users designation }		</div>
	</div>
</div>


{END designation_fieldblock}
	
								</td>
			{END cellblock_grid_c20}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN organisation_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_organisation_name}  r-vertical-field" 
	data-signal-error-for="organisation_name{$id}" {$required_attr_organisation_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="organisation_name" data-fieldname="organisation_name" >

	<label class="r-edit-label control-label" for="{$labelfor_organisation_name}">
		{BEGIN organisation_name_label}{$label admin_users organisation_name }{END organisation_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$organisation_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="organisation_name" {$tooltipAttr admin_users organisation_name } >
		<div class="text-muted" >
		{$tooltip admin_users organisation_name }		</div>
	</div>
</div>


{END organisation_name_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
			 
																

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN department_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_department}  r-vertical-field" 
	data-signal-error-for="department{$id}" {$required_attr_department}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="department" data-fieldname="department" >

	<label class="r-edit-label control-label" for="{$labelfor_department}">
		{BEGIN department_label}{$label admin_users department }{END department_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$department_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="department" {$tooltipAttr admin_users department } >
		<div class="text-muted" >
		{$tooltip admin_users department }		</div>
	</div>
</div>


{END department_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
			 
																

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN groupid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_groupid}  r-vertical-field" 
	data-signal-error-for="groupid{$id}" {$required_attr_groupid}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="groupid" data-fieldname="groupid" >

	<label class="r-edit-label control-label" for="{$labelfor_groupid}">
		{BEGIN groupid_label}{$label admin_users groupid }{END groupid_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$groupid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="groupid" {$tooltipAttr admin_users groupid } >
		<div class="text-muted" >
		{$tooltip admin_users groupid }		</div>
	</div>
</div>


{END groupid_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN active_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_active}  r-vertical-field" 
	data-signal-error-for="active{$id}" {$required_attr_active}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="active" data-fieldname="active" >

	<label class="r-edit-label control-label" for="{$labelfor_active}">
		{BEGIN active_label}{$label admin_users active }{END active_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$active_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="active" {$tooltipAttr admin_users active } >
		<div class="text-muted" >
		{$tooltip admin_users active }		</div>
	</div>
</div>


{END active_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
			 
																

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ext_security_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ext_security_id}  r-vertical-field" 
	data-signal-error-for="ext_security_id{$id}" {$required_attr_ext_security_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="ext_security_id" data-fieldname="ext_security_id" >

	<label class="r-edit-label control-label" for="{$labelfor_ext_security_id}">
		{BEGIN ext_security_id_label}{$label admin_users ext_security_id }{END ext_security_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ext_security_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ext_security_id" {$tooltipAttr admin_users ext_security_id } >
		<div class="text-muted" >
		{$tooltip admin_users ext_security_id }		</div>
	</div>
</div>


{END ext_security_id_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c1}
			 
		
							

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c2}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN password_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_password}  r-vertical-field" 
	data-signal-error-for="password{$id}" {$required_attr_password}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="password" data-fieldname="password" >

	<label class="r-edit-label control-label" for="{$labelfor_password}">
		{BEGIN password_label}{$label admin_users password }{END password_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$password_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="password" {$tooltipAttr admin_users password } >
		<div class="text-muted" >
		{$tooltip admin_users password }		</div>
	</div>
</div>


{END password_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c15}
			 
		
							

{BEGIN cellblock_grid_c16}
<td
	{$cell_grid_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c16" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c16}
			 
		
							

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c17}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancel			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reset		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="admin_users_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		View		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
