

<ul class="r-menu nav 
menu-treelike
" data-menulevel="1">
	{$active_submenu}
	
	
	{BEGIN item1_menulink}
	<li class=" {$item1_current}">
		
<a {$item1_menulink_attrs} title="{$item1_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item1_icon} {$item1_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item1_collicon}{$item1_firstcap}</span>
</a>

	</li>
	{END item1_menulink}
	
	
	{BEGIN item2_menulink}
	<li class=" {$item2_current}">
		
<a {$item2_menulink_attrs} title="{$item2_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item2_icon} {$item2_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item2_collicon}{$item2_firstcap}</span>
</a>

	</li>
	{END item2_menulink}
	
	
	{BEGIN item3_menulink}
	<li class=" {$item3_current}">
		
<a {$item3_menulink_attrs} title="{$item3_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item3_icon} {$item3_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item3_collicon}{$item3_firstcap}</span>
</a>

	</li>
	{END item3_menulink}
	
	
	{BEGIN item4_menulink}
	<li class=" {$item4_current}">
		
<a {$item4_menulink_attrs} title="{$item4_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item4_icon} {$item4_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item4_collicon}{$item4_firstcap}</span>
</a>

	</li>
	{END item4_menulink}
	
	
	{BEGIN item5_menulink}
	<li class=" {$item5_current}">
		
<a {$item5_menulink_attrs} title="{$item5_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item5_icon} {$item5_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item5_collicon}{$item5_firstcap}</span>
</a>

	</li>
	{END item5_menulink}
	
	
	{BEGIN item6_menulink}
	<li class=" {$item6_current}">
		
<a {$item6_menulink_attrs} title="{$item6_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item6_icon} {$item6_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item6_collicon}{$item6_firstcap}</span>
</a>

	</li>
	{END item6_menulink}
	
	
	{BEGIN item7_menulink}
	<li class=" {$item7_current}">
		
<a {$item7_menulink_attrs} title="{$item7_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item7_icon} {$item7_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item7_collicon}{$item7_firstcap}</span>
</a>

	</li>
	{END item7_menulink}
	
	
	{BEGIN item8_menulink}
	<li class=" {$item8_current}">
		
<a {$item8_menulink_attrs} title="{$item8_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item8_icon} {$item8_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item8_collicon}{$item8_firstcap}</span>
</a>

	</li>
	{END item8_menulink}
	
	
	{BEGIN item9_menulink}
	<li class=" {$item9_current}">
		
<a {$item9_menulink_attrs} title="{$item9_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item9_icon} {$item9_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item9_collicon}{$item9_firstcap}</span>
</a>

	</li>
	{END item9_menulink}
	
	
	{BEGIN item10_menulink}
	<li class=" {$item10_current}">
		
<a {$item10_menulink_attrs} title="{$item10_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item10_icon} {$item10_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item10_collicon}{$item10_firstcap}</span>
</a>

	</li>
	{END item10_menulink}
	
	
	{BEGIN item11_menulink}
	<li class=" {$item11_current}">
		
<a {$item11_menulink_attrs} title="{$item11_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item11_icon} {$item11_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item11_collicon}{$item11_firstcap}</span>
</a>

	</li>
	{END item11_menulink}
	
	
	{BEGIN item12_menulink}
	<li class=" {$item12_current}">
		
<a {$item12_menulink_attrs} title="{$item12_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item12_icon} {$item12_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item12_collicon}{$item12_firstcap}</span>
</a>

	</li>
	{END item12_menulink}
	
	
	{BEGIN item13_menulink}
	<li class=" {$item13_current}">
		
<a {$item13_menulink_attrs} title="{$item13_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item13_icon} {$item13_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item13_collicon}{$item13_firstcap}</span>
</a>

	</li>
	{END item13_menulink}
	
	
	{BEGIN item14_menulink}
	<li class=" {$item14_current}">
		
<a {$item14_menulink_attrs} title="{$item14_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item14_icon} {$item14_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item14_collicon}{$item14_firstcap}</span>
</a>

	</li>
	{END item14_menulink}
	
	
	{BEGIN item15_menulink}
	<li class=" {$item15_current}">
		
<a {$item15_menulink_attrs} title="{$item15_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item15_icon} {$item15_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item15_collicon}{$item15_firstcap}</span>
</a>

	</li>
	{END item15_menulink}
	
	
	{BEGIN item16_menulink}
	<li class=" {$item16_current}">
		
<a {$item16_menulink_attrs} title="{$item16_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item16_icon} {$item16_title}
		</span>
				{BEGIN item16_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item16_expand_icon}
	</span>
		<span class="r-menu-collapsed">{$item16_collicon}{$item16_firstcap}</span>
</a>

		
		
				<ul class="
					nav collapse 
			{$submenu16_class}" 
			id="submenu16" data-menulevel=2>
			{BEGIN item17_menulink}
			<li class=" {$item17_current}">
				
<a {$item17_menulink_attrs} title="{$item17_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item17_icon} {$item17_title}
		</span>
			</span>
	</a>

			</li>
			{END item17_menulink}
				
		
					{BEGIN item18_menulink}
			<li class=" {$item18_current}">
				
<a {$item18_menulink_attrs} title="{$item18_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item18_icon} {$item18_title}
		</span>
			</span>
	</a>

			</li>
			{END item18_menulink}
				
		
					{BEGIN item19_menulink}
			<li class=" {$item19_current}">
				
<a {$item19_menulink_attrs} title="{$item19_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item19_icon} {$item19_title}
		</span>
			</span>
	</a>

			</li>
			{END item19_menulink}
				
		
					{BEGIN item20_menulink}
			<li class=" {$item20_current}">
				
<a {$item20_menulink_attrs} title="{$item20_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item20_icon} {$item20_title}
		</span>
			</span>
	</a>

			</li>
			{END item20_menulink}
				
		
					{BEGIN item21_menulink}
			<li class=" {$item21_current}">
				
<a {$item21_menulink_attrs} title="{$item21_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item21_icon} {$item21_title}
		</span>
			</span>
	</a>

			</li>
			{END item21_menulink}
				
		
					{BEGIN item22_menulink}
			<li class=" {$item22_current}">
				
<a {$item22_menulink_attrs} title="{$item22_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item22_icon} {$item22_title}
		</span>
			</span>
	</a>

			</li>
			{END item22_menulink}
				</ul>
	</li>
	{END item16_menulink}
	
	
	{BEGIN item23_menulink}
	<li class=" {$item23_current}">
		
<a {$item23_menulink_attrs} title="{$item23_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item23_icon} {$item23_title}
		</span>
				{BEGIN item23_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item23_expand_icon}
	</span>
		<span class="r-menu-collapsed">{$item23_collicon}{$item23_firstcap}</span>
</a>

		
		
				<ul class="
					nav collapse 
			{$submenu23_class}" 
			id="submenu23" data-menulevel=2>
			{BEGIN item24_menulink}
			<li class=" {$item24_current}">
				
<a {$item24_menulink_attrs} title="{$item24_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item24_icon} {$item24_title}
		</span>
				{BEGIN item24_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item24_expand_icon}
	</span>
	</a>

				
								<ul class="
									nav collapse 
					{$submenu24_class}" 
					id="submenu24" data-menulevel=3>
					{BEGIN item25_menulink}
						<li class=" {$item25_current}">
						
<a {$item25_menulink_attrs} title="{$item25_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item25_icon} {$item25_title}
		</span>
			</span>
	</a>

					</li>
					{END item25_menulink}
								
									{BEGIN item26_menulink}
						<li class=" {$item26_current}">
						
<a {$item26_menulink_attrs} title="{$item26_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item26_icon} {$item26_title}
		</span>
			</span>
	</a>

					</li>
					{END item26_menulink}
								
									{BEGIN item27_menulink}
						<li class=" {$item27_current}">
						
<a {$item27_menulink_attrs} title="{$item27_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item27_icon} {$item27_title}
		</span>
			</span>
	</a>

					</li>
					{END item27_menulink}
								
									{BEGIN item28_menulink}
						<li class=" {$item28_current}">
						
<a {$item28_menulink_attrs} title="{$item28_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item28_icon} {$item28_title}
		</span>
			</span>
	</a>

					</li>
					{END item28_menulink}
								
									{BEGIN item29_menulink}
						<li class=" {$item29_current}">
						
<a {$item29_menulink_attrs} title="{$item29_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item29_icon} {$item29_title}
		</span>
			</span>
	</a>

					</li>
					{END item29_menulink}
								</ul>
			</li>
			{END item24_menulink}
				</ul>
	</li>
	{END item23_menulink}
</ul>