

<ul class="r-menu nav 
navbar-nav
" data-menulevel="1">
	{$active_submenu}
	
	
	{BEGIN item1_menulink}
	<li class=" {$item1_current}">
		
<a {$item1_menulink_attrs} title="{$item1_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item1_icon} {$item1_title}
		</span>
			</span>
	</a>

	</li>
	{END item1_menulink}
	
	
	{BEGIN item2_menulink}
	<li class=" {$item2_current}">
		
<a {$item2_menulink_attrs} title="{$item2_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item2_icon} {$item2_title}
		</span>
			</span>
	</a>

	</li>
	{END item2_menulink}
	
	
	{BEGIN item3_menulink}
	<li class=" {$item3_current}">
		
<a {$item3_menulink_attrs} title="{$item3_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item3_icon} {$item3_title}
		</span>
			</span>
	</a>

	</li>
	{END item3_menulink}
	
	
	{BEGIN item4_menulink}
	<li class=" {$item4_current}">
		
<a {$item4_menulink_attrs} title="{$item4_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item4_icon} {$item4_title}
		</span>
			</span>
	</a>

	</li>
	{END item4_menulink}
	
	
	{BEGIN item5_menulink}
	<li class=" {$item5_current}">
		
<a {$item5_menulink_attrs} title="{$item5_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item5_icon} {$item5_title}
		</span>
			</span>
	</a>

	</li>
	{END item5_menulink}
	
	
	{BEGIN item6_menulink}
	<li class=" {$item6_current}">
		
<a {$item6_menulink_attrs} title="{$item6_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item6_icon} {$item6_title}
		</span>
			</span>
	</a>

	</li>
	{END item6_menulink}
	
	
	{BEGIN item7_menulink}
	<li class=" {$item7_current}">
		
<a {$item7_menulink_attrs} title="{$item7_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item7_icon} {$item7_title}
		</span>
			</span>
	</a>

	</li>
	{END item7_menulink}
	
	
	{BEGIN item8_menulink}
	<li class=" {$item8_current}">
		
<a {$item8_menulink_attrs} title="{$item8_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item8_icon} {$item8_title}
		</span>
			</span>
	</a>

	</li>
	{END item8_menulink}
	
	
	{BEGIN item9_menulink}
	<li class=" {$item9_current}">
		
<a {$item9_menulink_attrs} title="{$item9_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item9_icon} {$item9_title}
		</span>
			</span>
	</a>

	</li>
	{END item9_menulink}
	
	
	{BEGIN item10_menulink}
	<li class=" {$item10_current}">
		
<a {$item10_menulink_attrs} title="{$item10_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item10_icon} {$item10_title}
		</span>
			</span>
	</a>

	</li>
	{END item10_menulink}
	
	
	{BEGIN item11_menulink}
	<li class=" {$item11_current}">
		
<a {$item11_menulink_attrs} title="{$item11_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item11_icon} {$item11_title}
		</span>
			</span>
	</a>

	</li>
	{END item11_menulink}
	
	
	{BEGIN item12_menulink}
	<li class=" {$item12_current}">
		
<a {$item12_menulink_attrs} title="{$item12_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item12_icon} {$item12_title}
		</span>
			</span>
	</a>

	</li>
	{END item12_menulink}
	
	
	{BEGIN item13_menulink}
	<li class=" {$item13_current}">
		
<a {$item13_menulink_attrs} title="{$item13_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item13_icon} {$item13_title}
		</span>
			</span>
	</a>

	</li>
	{END item13_menulink}
	
	
	{BEGIN item14_menulink}
	<li class=" {$item14_current}">
		
<a {$item14_menulink_attrs} title="{$item14_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item14_icon} {$item14_title}
		</span>
			</span>
	</a>

	</li>
	{END item14_menulink}
	
	
	{BEGIN item15_menulink}
	<li class=" {$item15_current}">
		
<a {$item15_menulink_attrs} title="{$item15_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item15_icon} {$item15_title}
		</span>
			</span>
	</a>

	</li>
	{END item15_menulink}
	
	
	{BEGIN item16_menulink}
	<li class=" {$item16_current}">
		
<a {$item16_menulink_attrs} title="{$item16_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item16_icon} {$item16_title}
		</span>
			</span>
	</a>

	</li>
	{END item16_menulink}
	
	
	{BEGIN item17_menulink}
	<li class=" {$item17_current}">
		
<a {$item17_menulink_attrs} title="{$item17_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item17_icon} {$item17_title}
		</span>
			</span>
	</a>

	</li>
	{END item17_menulink}
	
	
	{BEGIN item18_menulink}
	<li class=" {$item18_current}">
		
<a {$item18_menulink_attrs} title="{$item18_tooltip}" 
			data-menu-top
			data-menu-h
		data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item18_icon} {$item18_title}
		</span>
			</span>
	</a>

	</li>
	{END item18_menulink}
</ul>