<div id="groupSelectorDiv">
	<table width=100% cellpadding=5 cellspacing=0 border=0>
		<tr><td><div class="groupSelect" id="groupSelectGroup" value="group">group&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr>
		<tr><td><div class="groupSelect" id="groupSelectField" value="field">field&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr>
		<tr><td><div class="groupSelect" id="groupSelectTable" value="table">all&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr>
	</table>
</div>
<div id="colorPickerVtd">
	<table class="tableColorPicker" cellspacing="4" style="border:2px solid gray;"> 
		<tr class="colorPickerVtdTr"> 
			<td class="row1cell1">&nbsp;</td>
			<td class="row1cell2">&nbsp;</td>
			<td class="row1cell3">&nbsp;</td>
			<td class="row1cell4">&nbsp;</td>
			<td class="row1cell5">&nbsp;</td>
			<td class="row1cell6">&nbsp;</td>
			<td class="row1cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row2cell1">&nbsp;</td>
			<td class="row2cell2">&nbsp;</td>
			<td class="row2cell3">&nbsp;</td>
			<td class="row2cell4">&nbsp;</td>
			<td class="row2cell5">&nbsp;</td>
			<td class="row2cell6">&nbsp;</td>
			<td class="row2cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row3cell1">&nbsp;</td>
			<td class="row3cell2">&nbsp;</td>
			<td class="row3cell3">&nbsp;</td>
			<td class="row3cell4">&nbsp;</td>
			<td class="row3cell5">&nbsp;</td>
			<td class="row3cell6">&nbsp;</td>
			<td class="row3cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row4cell1">&nbsp;</td>
			<td class="row4cell2">&nbsp;</td>
			<td class="row4cell3">&nbsp;</td>
			<td class="row4cell4">&nbsp;</td>
			<td class="row4cell5">&nbsp;</td>
			<td class="row4cell6">&nbsp;</td>
			<td class="row4cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row5cell1">&nbsp;</td>
			<td class="row5cell2">&nbsp;</td>
			<td class="row5cell3">&nbsp;</td>
			<td class="row5cell4">&nbsp;</td>
			<td class="row5cell5">&nbsp;</td>
			<td class="row5cell6">&nbsp;</td>
			<td class="row5cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row6cell1">&nbsp;</td>
			<td class="row6cell2">&nbsp;</td>
			<td class="row6cell3">&nbsp;</td>
			<td class="row6cell4">&nbsp;</td>
			<td class="row6cell5">&nbsp;</td>
			<td class="row6cell6">&nbsp;</td>
			<td class="row6cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row7cell1">&nbsp;</td>
			<td class="row7cell2">&nbsp;</td>
			<td class="row7cell3">&nbsp;</td>
			<td class="row7cell4">&nbsp;</td>
			<td class="row7cell5">&nbsp;</td>
			<td class="row7cell6">&nbsp;</td>
			<td class="row7cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row8cell1">&nbsp;</td>
			<td class="row8cell2">&nbsp;</td>
			<td class="row8cell3">&nbsp;</td>
			<td class="row8cell4">&nbsp;</td>
			<td class="row8cell5">&nbsp;</td>
			<td class="row8cell6">&nbsp;</td>
			<td class="row8cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row9cell1">&nbsp;</td>
			<td class="row9cell2">&nbsp;</td>
			<td class="row9cell3">&nbsp;</td>
			<td class="row9cell4">&nbsp;</td>
			<td class="row9cell5">&nbsp;</td>
			<td class="row9cell6">&nbsp;</td>
			<td class="row9cell7">&nbsp;</td>
		</tr>
		<tr class="colorPickerVtdTr">
			<td class="row0cell1">&nbsp;</td>
			<td class="row0cell2">&nbsp;</td>
			<td class="row0cell3">&nbsp;</td>
			<td class="row0cell4">&nbsp;</td>
			<td class="row0cell5">&nbsp;</td>
			<td class="row0cell6">&nbsp;</td>
			<td class="row0cell7">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="7" id="nocolor" class="ColorPickerNoColor">No color</td>
		</tr>
	</table>
</div>		