<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		{% if (o.newWindow ) { %} 
			target="_blank"
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel public_dhis2_reportingrate_settings view}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c" data-pageid="{$pageid}"	{$cell_above-grid_c}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-small > 
	<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Reporting Rates</title>

    <!-- Include Bootstrap CSS for modern look -->


    <style>
        body {
            background-color: #f1f5f9;
            font-family: 'Arial', sans-serif;
            /*padding: 20px;*/
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        h1 {
            font-size: 1.8rem;
            font-weight: bold;
            color: #333;
        }

        .progress-container {
            margin-top: 20px;
        }

        .log-container {
            margin-top: 20px;
            max-height: 300px;
            overflow-y: auto;
            background: #f8f9fa;
            padding: 15px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }

        .log-container pre {
            margin: 0;
            font-size: 14px;
            color: #495057;
            white-space: pre-wrap;
        }

        .btn-lg {
            font-size: 1rem;
            padding: 10px 20px;
        }

        .progress-bar {
            transition: width 0.4s ease;
        }

        footer {
            margin-top: 20px;
            text-align: center;
            font-size: 0.9rem;
            color: #6c757d;
        }

        footer a {
            color: #007bff;
            text-decoration: none;
        }

        footer a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <div align="center">
            <svg width="64px" height="64px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.05655 23.9708L6.86383 24.7067C5.64458 25.4589 5.58843 27.2115 6.75703 28.0402L22.8484 39.4515C23.5388 39.9411 24.4626 39.9431 25.1551 39.4565L41.3962 28.0456C42.5744 27.2178 42.5181 25.4536 41.2895 24.7026L39.8479 23.8215L38.0784 25.0839L40.2464 26.4091L24.0054 37.8201L7.91396 26.4088L9.84309 25.2186L8.05655 23.9708ZM33.4418 22.2498L24.0049 16.4814L14.4796 22.3581L12.693 21.1103L22.9547 14.7793C23.596 14.3837 24.4051 14.382 25.0479 14.775L35.2113 20.9873L33.4418 22.2498Z" fill="#3276c3"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.0048 9.48139L7.91391 19.4087L24.0053 30.82L40.2464 19.4091L24.0048 9.48139ZM6.86378 17.7066C5.64453 18.4588 5.58838 20.2114 6.75698 21.0401L22.8484 32.4514C23.5388 32.941 24.4626 32.943 25.1551 32.4565L41.3961 21.0455C42.5744 20.2177 42.518 18.4536 41.2894 17.7026L25.0479 7.77494C24.4051 7.38199 23.5959 7.38367 22.9547 7.77927L6.86378 17.7066Z" fill="#3276c3"></path>
                </g>
            </svg>
        </div>
        <h2 class="text-center mb-4">Update <u>DHIS2</u> Reporting Rates</h2>
<br>
        <div class="text-center">
            <button id="startUpdate" class="btn btn-primary btn-lg">START Updating Reporting Rates</button>
            <br>
            <br>
            <button id="previewData" class="btn btn-info btn-lg">Preview Data</button>
            <button id="removeAllRows" class="btn btn-danger btn-lg">Remove All Rows</button>
            <button id="removeNonNullData" class="btn btn-warning btn-lg">Remove Non-Null Data</button>
        </div>

        <div class="progress-container">
            <div class="progress">
                <div id="progressBar" class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
        </div>

        <div class="log-container mt-4">
            <h5 class="mb-3">Logs:</h5>
            <pre id="log">Click the START button to start the update process...</pre>
        </div>

        <div class="data-preview mt-4">
            <h5 class="mb-3">Data Preview:</h5>

            <!-- Add a search panel and export button -->
            <div class="search-panel mt-4">
                <input type="text" id="searchInput" placeholder="Search..." class="form-control mb-3">
                <button id="exportToExcel" class="btn btn-success btn-lg">Export to Excel</button>
            </div>

            <!-- Add rows per page dropdown -->
            <div class="rows-per-page">
                <label for="rowsPerPage">Rows per page:</label>
                <select id="rowsPerPage" class="form-select">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>

            <!-- Add pagination controls -->
            <div class="pagination-controls mt-4">
                <nav>
                    <ul class="pagination" id="pagination">
                        <!-- Pagination links will be dynamically added here -->
                    </ul>
                </nav>
                <div class="text-center mt-2">
                    <span id="pageInfo"></span>
                </div>
            </div>

            <div id="dataPreviewContent"></div>
        </div>

        <footer>
            <!--
ALTER TABLE dhis2_reporting_rates
ADD CONSTRAINT unique_reporting_rates
UNIQUE (organisationunit_id, dataset_id, facility_type, report_period, ownership_type_id, indicator_id);

To remove 

ALTER TABLE dhis2_reporting_rates DROP CONSTRAINT unique_reporting_rate;

    -->
            <!-- Built with ❤️ by <a href="https://merqconsultancy.org" target="_blank">MERQ Consultancy PLC LLC</a>-->
        </footer>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

    <script>
$(document).ready(function () {
    // Function to update progress and logs
    function updateProgressAndLogs(xhr, progressBar, log, button) {
        xhr.onprogress = function (e) {
            if (e.lengthComputable) {
                const progress = Math.floor((e.loaded / e.total) * 100);
                progressBar.css('width', progress + '%').attr('aria-valuenow', progress).text(progress + '%');
            }

            const newLog = xhr.responseText;
            log.html(newLog);  // Update log div with new log data
        };

        xhr.onload = function () {
            if (xhr.status === 200) {
                progressBar.css('width', '100%').attr('aria-valuenow', 100).text('100%');
                button.prop('disabled', false).text(button.data('original-text'));
                log.append('<pre>Operation completed successfully!</pre>');
            } else {
                log.append(`<pre>Error: ${xhr.statusText}</pre>`);
                button.prop('disabled', false).text(button.data('original-text'));
            }
        };

        xhr.onerror = function () {
            log.append('<pre>An error occurred during the operation.</pre>');
            button.prop('disabled', false).text(button.data('original-text'));
        };
    }

    // Start Update Button
    $('#startUpdate').on('click', function () {
        const button = $(this);
        const progressBar = $('#progressBar');
        const log = $('#log');

        // Reset progress bar and log
        progressBar.css('width', '0%').attr('aria-valuenow', 0).text('0%');
        log.html('Click the button to start the update process...');
        button.prop('disabled', true).text('Updating...').data('original-text', 'START Updating Reporting Rates');

        // Start the update process
        const xhr = new XMLHttpRequest();
        //xhr.open('GET', 'update_reportingrates.php', true);
        xhr.open('GET', '../api/dhis2/apis/update_reportingrates.php', true);
        updateProgressAndLogs(xhr, progressBar, log, button);
        xhr.send();
    });



    // Remove All Rows Button
    $('#removeAllRows').on('click', function () {
        const button = $(this);
        const log = $('#log');

        button.prop('disabled', true).text('Removing...').data('original-text', 'Remove All Rows');

        // Send request to remove all rows
        $.ajax({
            //url: 'remove_all_rows.php', // Create this file to remove all rows
            url: '../api/dhis2/apis/remove_all_rows.php', // Create this file to remove all rows
            method: 'GET',
            success: function (response) {
                log.append('<pre>All rows removed successfully.</pre>');
            },
            error: function (xhr, status, error) {
                log.append(`<pre>Error removing rows: ${error}</pre>`);
            },
            complete: function () {
                button.prop('disabled', false).text(button.data('original-text'));
            }
        });
    });

    // Remove Non-Null Data Button
    $('#removeNonNullData').on('click', function () {
        const button = $(this);
        const log = $('#log');

        button.prop('disabled', true).text('Removing...').data('original-text', 'Remove Non-Null Data');

        // Send request to remove non-null data
        $.ajax({
            //url: 'remove_non_null_data.php', // Create this file to remove non-null data
            url: '../api/dhis2/apis/remove_non_null_data.php', // Create this file to remove non-null data
            method: 'GET',
            success: function (response) {
                log.append('<pre>Non-null data removed successfully.</pre>');
            },
            error: function (xhr, status, error) {
                log.append(`<pre>Error removing non-null data: ${error}</pre>`);
            },
            complete: function () {
                button.prop('disabled', false).text(button.data('original-text'));
            }
        });
    });
});

$(document).ready(function () {
    let currentPage = 1;
    let itemsPerPage = 10; // Default rows per page
    let allData = []; // Store all data for pagination and search
    let sortColumn = null; // Track the current sort column
    let sortDirection = 1; // 1 for ascending, -1 for descending

    // Function to render the table with paginated data
    function renderTable(data, page) {
        const start = (page - 1) * itemsPerPage;
        const end = start + itemsPerPage;
        const paginatedData = data.slice(start, end);

        let table = '<table class="table table-bordered">';
        table += '<thead><tr>';
        for (let key in paginatedData[0]) {
            table += `<th>${key}</th>`;
        }
        table += '</tr></thead><tbody>';
        paginatedData.forEach(row => {
            table += '<tr>';
            for (let key in row) {
                table += `<td>${row[key]}</td>`;
            }
            table += '</tr>';
        });
        table += '</tbody></table>';
        $('#dataPreviewContent').html(table);

        // Add sorting functionality to table headers
        $('#dataPreviewContent th').on('click', function () {
            const column = $(this).text();
            if (sortColumn === column) {
                sortDirection *= -1; // Toggle sort direction
            } else {
                sortColumn = column;
                sortDirection = 1; // Default to ascending
            }
            sortData(column, sortDirection);
            renderTable(allData, currentPage);
        });
    }

    // Function to sort data
    function sortData(column, direction) {
        allData.sort((a, b) => {
            if (a[column] < b[column]) return -1 * direction;
            if (a[column] > b[column]) return 1 * direction;
            return 0;
        });
    }

function updatePaginationControls(data, page) {
    const totalPages = Math.ceil(data.length / itemsPerPage);
    const pagination = $('#pagination');
    pagination.empty();
    const range = 3; // Number of pages to show before/after current page

    // Add "First" and "Previous" buttons
    pagination.append(`
        <li class="page-item ${page === 1 ? 'disabled' : ''}">
            <a class="page-link" href="#" data-page="1">First</a>
        </li>
        <li class="page-item ${page === 1 ? 'disabled' : ''}">
            <a class="page-link" href="#" data-page="${page - 1}">Previous</a>
        </li>
    `);

    // Show first few pages
    if (page > range + 1) {
        pagination.append(`<li class="page-item"><a class="page-link" href="#" data-page="1">1</a></li>`);
        pagination.append(`<li class="page-item disabled"><span class="page-link">...</span></li>`);
    }

    // Show pages within range
    for (let i = Math.max(1, page - range); i <= Math.min(totalPages, page + range); i++) {
        pagination.append(`
            <li class="page-item ${i === page ? 'active' : ''}">
                <a class="page-link" href="#" data-page="${i}">${i}</a>
            </li>
        `);
    }

    // Show last few pages
    if (page < totalPages - range) {
        pagination.append(`<li class="page-item disabled"><span class="page-link">...</span></li>`);
        pagination.append(`<li class="page-item"><a class="page-link" href="#" data-page="${totalPages}">${totalPages}</a></li>`);
    }

    // Add "Next" and "Last" buttons
    pagination.append(`
        <li class="page-item ${page === totalPages ? 'disabled' : ''}">
            <a class="page-link" href="#" data-page="${page + 1}">Next</a>
        </li>
        <li class="page-item ${page === totalPages ? 'disabled' : ''}">
            <a class="page-link" href="#" data-page="${totalPages}">Last</a>
        </li>
    `);

    // Update page info
    $('#pageInfo').text(`Page ${page} of ${totalPages} | ${data.length} rows`);
}

    // Preview Data Button
    $('#previewData').on('click', function () {
        const button = $(this);
        const log = $('#log');
        const dataPreviewContent = $('#dataPreviewContent');

        button.prop('disabled', true).text('Loading...').data('original-text', 'Preview Data');

        // Fetch data from the database
        $.ajax({
            //url: 'fetch_data.php',
            url: '../api/dhis2/apis/fetch_data.php',
            method: 'GET',
            success: function (response) {
                try {
                    if (response.error) {
                        log.append(`<pre>Error: ${response.error}</pre>`);
                    } else if (response.message) {
                        log.append(`<pre>${response.message}</pre>`);
                    } else if (response.data) {
                        allData = response.data;
                        renderTable(allData, currentPage);
                        updatePaginationControls(allData, currentPage);
                        log.append('<pre>Data preview loaded successfully.</pre>');
                    }
                } catch (e) {
                    log.append(`<pre>Error parsing response: ${e.message}</pre>`);
                }
            },
            error: function (xhr, status, error) {
                log.append(`<pre>Error fetching data: ${error}</pre>`);
            },
            complete: function () {
                button.prop('disabled', false).text(button.data('original-text'));
            }
        });
    });

    // Pagination controls
    $(document).on('click', '.page-link', function (e) {
        e.preventDefault();
        const page = parseInt($(this).data('page'));
        if (!isNaN(page)) {
            currentPage = page;
            renderTable(allData, currentPage);
            updatePaginationControls(allData, currentPage);
        }
    });

    // Search functionality
    /*
    $('#searchInput').on('input', function () {
        const searchTerm = $(this).val().toLowerCase();
        const filteredData = allData.filter(row => {
            return Object.values(row).some(value => 
                value.toString().toLowerCase().includes(searchTerm)
            );
        });
        renderTable(filteredData, 1);
        updatePaginationControls(filteredData, 1);
    });
*/

$(document).ready(function () {
    // Live search functionality
    $("#searchInput").on("keyup", function () {
        let value = $(this).val().toLowerCase();
        
        $("#dataPreviewContent table tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
        //renderTable(filteredData, 1);
        //updatePaginationControls(filteredData, 1);

    });
});



    // Rows per page dropdown
    $('#rowsPerPage').on('change', function () {
        itemsPerPage = parseInt($(this).val());
        renderTable(allData, 1);
        updatePaginationControls(allData, 1);
    });

    // Export to Excel functionality
    $('#exportToExcel').on('click', function () {
        const button = $(this);
        button.prop('disabled', true).text('Exporting...').data('original-text', 'Export to Excel');

        // Convert data to Excel format
        const ws = XLSX.utils.json_to_sheet(allData);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Data");

        // Generate file name with current date and time
        const currentDate = new Date().toISOString().slice(0, 19).replace(/[-T:/]/g, '');
        const fileName = `DHIS2_Reporting_Rates_Data_Fetched_${currentDate}.xlsx`;

        XLSX.writeFile(wb, fileName);

        button.prop('disabled', false).text(button.data('original-text'));
    });
});
    </script>
</body>

</html>
</span>
			{END firstAboveGridCell}	
	</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		<span data-itemtype="text" data-itemid="text4" {$item_text4} data-pageid="{$pageid}" data-page="dhis2_reportingrate_settings_view" data-small > 
	<br></span>
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c3" data-pageid="{$pageid}"	{$cell_above-grid_c3}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		<span data-itemtype="text" data-itemid="text2" {$item_text2} data-pageid="{$pageid}" data-small > 
	<p><strong>To Update Reporting Rates Data:</strong> Make sure to update the settings below are correctly set!</p></span>
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<span data-itemtype="text" data-itemid="text1" {$item_text1} data-pageid="{$pageid}" data-small > 
	<br>
<br>
<br></span>
		</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}" data-page="dhis2_reportingrate_settings_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN data_set_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_data_set}  r-vertical-field" data-fieldname="data_set" data-signal-error-for="data_set{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="data_set" data-fieldname="data_set" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_data_set}">
		
		{BEGIN data_set_label}{$label public_dhis2_reportingrate_settings data_set }{END data_set_label}
	</label>
	<div class="" >
		{$data_set_value}	</div>

		</div>
		
</div>


{END data_set_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}" data-page="dhis2_reportingrate_settings_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN org_unit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_org_unit}  r-vertical-field" data-fieldname="org_unit" data-signal-error-for="org_unit{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="org_unit" data-fieldname="org_unit" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_org_unit}">
		
		{BEGIN org_unit_label}{$label public_dhis2_reportingrate_settings org_unit }{END org_unit_label}
	</label>
	<div class="" >
		{$org_unit_value}	</div>

		</div>
		
</div>


{END org_unit_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}" data-page="dhis2_reportingrate_settings_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN report_period_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_report_period}  r-vertical-field" data-fieldname="report_period" data-signal-error-for="report_period{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="report_period" data-fieldname="report_period" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_report_period}">
		
		{BEGIN report_period_label}{$label public_dhis2_reportingrate_settings report_period }{END report_period_label}
	</label>
	<div class="" >
		{$report_period_value}	</div>

		</div>
		
</div>


{END report_period_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c6" data-pageid="{$pageid}" data-page="dhis2_reportingrate_settings_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ownership_types_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ownership_types}  r-vertical-field" data-fieldname="ownership_types" data-signal-error-for="ownership_types{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="ownership_types" data-fieldname="ownership_types" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ownership_types}">
		
		{BEGIN ownership_types_label}{$label public_dhis2_reportingrate_settings ownership_types }{END ownership_types_label}
	</label>
	<div class="" >
		{$ownership_types_value}	</div>

		</div>
		
</div>


{END ownership_types_fieldblock}
											
{BEGIN facility_types_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_facility_types}  r-vertical-field" data-fieldname="facility_types" data-signal-error-for="facility_types{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="facility_types" data-fieldname="facility_types" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_facility_types}">
		
		{BEGIN facility_types_label}{$label public_dhis2_reportingrate_settings facility_types }{END facility_types_label}
	</label>
	<div class="" >
		{$facility_types_value}	</div>

		</div>
		
</div>


{END facility_types_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="text" data-itemid="text3" {$item_text3} data-pageid="{$pageid}" data-page="dhis2_reportingrate_settings_view" data-small > 
	<p>Click on the button to edit the settings<strong>&nbsp; </strong></p></span>
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="dhis2_reportingrate_settings_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
