<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="./assets/img/mohfavicon.png" />  
    <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//hispmd.merqconsultancy.org/analytics/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-chart"   
			data-panel-bg
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div class="clearfix  r-ori-vert" data-cellId="left_c" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"	 >

	<div class="panel-heading">
		<div class="btn-group r-sp-addfield" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group r-sp-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_indicator_name}


		<div class="form-group srchPanelRow {$filterRow_class_indicator_name}" {$filterRow_attrs_indicator_name}>
			<label>{$label DHIS_2_Reporting_Rates_Chart indicator_name }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_indicator_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_indicator_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_indicator_name}</span>
						</div>
		{END searchCtrlBlock_indicator_name}
																{BEGIN searchCtrlBlock_organisationunit_description}


		<div class="form-group srchPanelRow {$filterRow_class_organisationunit_description}" {$filterRow_attrs_organisationunit_description}>
			<label>{$label DHIS_2_Reporting_Rates_Chart organisationunit_description }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_organisationunit_description}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_organisationunit_description}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_organisationunit_description}</span>
						</div>
		{END searchCtrlBlock_organisationunit_description}
																{BEGIN searchCtrlBlock_indicator_id}


		<div class="form-group srchPanelRow {$filterRow_class_indicator_id}" {$filterRow_attrs_indicator_id}>
			<label>{$label DHIS_2_Reporting_Rates_Chart indicator_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_indicator_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_indicator_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_indicator_id}</span>
						</div>
		{END searchCtrlBlock_indicator_id}
																{BEGIN searchCtrlBlock_ownership_type_label}


		<div class="form-group srchPanelRow {$filterRow_class_ownership_type_label}" {$filterRow_attrs_ownership_type_label}>
			<label>{$label DHIS_2_Reporting_Rates_Chart ownership_type_label }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_ownership_type_label}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_ownership_type_label}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_ownership_type_label}</span>
						</div>
		{END searchCtrlBlock_ownership_type_label}
																{BEGIN searchCtrlBlock_ownership_type_id}


		<div class="form-group srchPanelRow {$filterRow_class_ownership_type_id}" {$filterRow_attrs_ownership_type_id}>
			<label>{$label DHIS_2_Reporting_Rates_Chart ownership_type_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_ownership_type_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_ownership_type_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_ownership_type_id}</span>
						</div>
		{END searchCtrlBlock_ownership_type_id}
																{BEGIN searchCtrlBlock_facility_type}


		<div class="form-group srchPanelRow {$filterRow_class_facility_type}" {$filterRow_attrs_facility_type}>
			<label>{$label DHIS_2_Reporting_Rates_Chart facility_type }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_facility_type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_facility_type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_facility_type}</span>
						</div>
		{END searchCtrlBlock_facility_type}
																{BEGIN searchCtrlBlock_dataset_name}


		<div class="form-group srchPanelRow {$filterRow_class_dataset_name}" {$filterRow_attrs_dataset_name}>
			<label>{$label DHIS_2_Reporting_Rates_Chart dataset_name }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_dataset_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_dataset_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_dataset_name}</span>
						</div>
		{END searchCtrlBlock_dataset_name}
																{BEGIN searchCtrlBlock_dataset_id}


		<div class="form-group srchPanelRow {$filterRow_class_dataset_id}" {$filterRow_attrs_dataset_id}>
			<label>{$label DHIS_2_Reporting_Rates_Chart dataset_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_dataset_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_dataset_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_dataset_id}</span>
						</div>
		{END searchCtrlBlock_dataset_id}
																{BEGIN searchCtrlBlock_reporting_rate_on_time}


		<div class="form-group srchPanelRow {$filterRow_class_reporting_rate_on_time}" {$filterRow_attrs_reporting_rate_on_time}>
			<label>{$label DHIS_2_Reporting_Rates_Chart reporting_rate_on_time }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_reporting_rate_on_time}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_reporting_rate_on_time}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_reporting_rate_on_time}</span>
						</div>
		{END searchCtrlBlock_reporting_rate_on_time}
																{BEGIN searchCtrlBlock_actual_reports_on_time}


		<div class="form-group srchPanelRow {$filterRow_class_actual_reports_on_time}" {$filterRow_attrs_actual_reports_on_time}>
			<label>{$label DHIS_2_Reporting_Rates_Chart actual_reports_on_time }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_actual_reports_on_time}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_actual_reports_on_time}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_actual_reports_on_time}</span>
						</div>
		{END searchCtrlBlock_actual_reports_on_time}
																{BEGIN searchCtrlBlock_reporting_rate}


		<div class="form-group srchPanelRow {$filterRow_class_reporting_rate}" {$filterRow_attrs_reporting_rate}>
			<label>{$label DHIS_2_Reporting_Rates_Chart reporting_rate }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_reporting_rate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_reporting_rate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_reporting_rate}</span>
						</div>
		{END searchCtrlBlock_reporting_rate}
																{BEGIN searchCtrlBlock_expected_reports}


		<div class="form-group srchPanelRow {$filterRow_class_expected_reports}" {$filterRow_attrs_expected_reports}>
			<label>{$label DHIS_2_Reporting_Rates_Chart expected_reports }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_expected_reports}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_expected_reports}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_expected_reports}</span>
						</div>
		{END searchCtrlBlock_expected_reports}
																{BEGIN searchCtrlBlock_actual_reports}


		<div class="form-group srchPanelRow {$filterRow_class_actual_reports}" {$filterRow_attrs_actual_reports}>
			<label>{$label DHIS_2_Reporting_Rates_Chart actual_reports }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_actual_reports}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_actual_reports}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_actual_reports}</span>
						</div>
		{END searchCtrlBlock_actual_reports}
																{BEGIN searchCtrlBlock_organisationunit_code}


		<div class="form-group srchPanelRow {$filterRow_class_organisationunit_code}" {$filterRow_attrs_organisationunit_code}>
			<label>{$label DHIS_2_Reporting_Rates_Chart organisationunit_code }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_organisationunit_code}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_organisationunit_code}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_organisationunit_code}</span>
						</div>
		{END searchCtrlBlock_organisationunit_code}
																{BEGIN searchCtrlBlock_organisationunit_id}


		<div class="form-group srchPanelRow {$filterRow_class_organisationunit_id}" {$filterRow_attrs_organisationunit_id}>
			<label>{$label DHIS_2_Reporting_Rates_Chart organisationunit_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_organisationunit_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_organisationunit_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_organisationunit_id}</span>
						</div>
		{END searchCtrlBlock_organisationunit_id}
																{BEGIN searchCtrlBlock_organisationunit}


		<div class="form-group srchPanelRow {$filterRow_class_organisationunit}" {$filterRow_attrs_organisationunit}>
			<label>{$label DHIS_2_Reporting_Rates_Chart organisationunit }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_organisationunit}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_organisationunit}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_organisationunit}</span>
						</div>
		{END searchCtrlBlock_organisationunit}
																{BEGIN searchCtrlBlock_relative_period}


		<div class="form-group srchPanelRow {$filterRow_class_relative_period}" {$filterRow_attrs_relative_period}>
			<label>{$label DHIS_2_Reporting_Rates_Chart relative_period }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_relative_period}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_relative_period}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_relative_period}</span>
						</div>
		{END searchCtrlBlock_relative_period}
																{BEGIN searchCtrlBlock_report_period}


		<div class="form-group srchPanelRow {$filterRow_class_report_period}" {$filterRow_attrs_report_period}>
			<label>{$label DHIS_2_Reporting_Rates_Chart report_period }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_report_period}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_report_period}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_report_period}</span>
						</div>
		{END searchCtrlBlock_report_period}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="dhis_2_reporting_rates_chart_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN saveSeachButton}
	<li data-itemtype="save_search" data-itemid="save_search" {$item_save_search} data-pageid="{$pageid}" data-small >
				<a  href="#" id="saveSearch{$id}"  title="" >
				
		Save search		
		</a>
	</li>
{END saveSeachButton}
							<li role="separator" class="divider"></li>							{BEGIN savedSeachesButton}
<li data-itemtype="saved_searches" data-itemid="saved_searches" {$item_saved_searches} data-pageid="{$pageid}">
	<a {$saveSearchButtonAttrs} id="savedSearches{$id}">Saved searches:</a>
	<ul class="rnr-saved-searches rnr-list" id ="savedSearchedList{$id}"></ul>
</li>
{END savedSeachesButton}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		{% if (o.newWindow ) { %} 
			target="_blank"
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
											<div class="r-grid"
	>
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
	<div class="panel panel-default"
	>
		<div class="panel-heading">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
	<div class="filterPanelContainer {$filterPanelStateClass}" 
					data-horizontal
			>
	<!-- Begin Filter panel content -->






{BEGIN filter_control_indicator_name}

	<div class="dropdown filter-field filter-indicator_name-container" {BEGIN filter_selected_indicator_name} data-selected {END filter_selected_indicator_name}>
		<div class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<input class="filter-selectAll-indicator_name" type="checkbox" name="selectAll" {$selectAll_attrs_indicator_name} />
						{BEGIN clearLink_indicator_name}
			<a href="#" class="filter-clear filter-clear-indicator_name" title="Clear">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_indicator_name}
			<span class="r-filter-field">{$label DHIS_2_Reporting_Rates_Chart indicator_name }				{BEGIN filter_selected_indicator_name}:{END filter_selected_indicator_name}
			</span>
			{BEGIN filter_selected_indicator_name}
			<span class="r-filter-value">{$filtervalue_indicator_name}</span>
			{END filter_selected_indicator_name}
			
			<span class="caret"></span>
		</div>
		<ul class="dropdown-menu">
					{BEGIN filterCtrlBlock_indicator_name}
		<li class=" filter-values filter-values-indicator_name  {$visibilityClass_indicator_name}">
			{$indicator_name_filter}
						
					
					
					
					</li>
		{END filterCtrlBlock_indicator_name}

			{BEGIN filter_button_showmore_indicator_name}
		<li class=" filter-show-more {$collapsedClass_indicator_name} {$showMoreBtnClass_indicator_name}">
			<a class="filter-show-more-link filterShowMore_indicator_name" href="#">{$show_n_more_indicator_name}</a>
		</li>
		{END filter_button_showmore_indicator_name}
	


			{BEGIN filter_button_apply_indicator_name}
		<li class="filter-multiselect  filter-field-btn {$collapsedClass_indicator_name}">
			<a href="#" class="filter-btn-apply filter-apply-indicator_name" {$filterbutton_attrs_indicator_name}>Apply</a>
		</li>
		{END filter_button_apply_indicator_name}
	

			</ul>
	</div>

{END filter_control_indicator_name}






{BEGIN filter_control_organisationunit}

	<div class="dropdown filter-field filter-organisationunit-container" {BEGIN filter_selected_organisationunit} data-selected {END filter_selected_organisationunit}>
		<div class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<input class="filter-selectAll-organisationunit" type="checkbox" name="selectAll" {$selectAll_attrs_organisationunit} />
						{BEGIN clearLink_organisationunit}
			<a href="#" class="filter-clear filter-clear-organisationunit" title="Clear">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_organisationunit}
			<span class="r-filter-field">{$label DHIS_2_Reporting_Rates_Chart organisationunit }				{BEGIN filter_selected_organisationunit}:{END filter_selected_organisationunit}
			</span>
			{BEGIN filter_selected_organisationunit}
			<span class="r-filter-value">{$filtervalue_organisationunit}</span>
			{END filter_selected_organisationunit}
			
			<span class="caret"></span>
		</div>
		<ul class="dropdown-menu">
					{BEGIN filterCtrlBlock_organisationunit}
		<li class=" filter-values filter-values-organisationunit  {$visibilityClass_organisationunit}">
			{$organisationunit_filter}
						
					
					
					
					</li>
		{END filterCtrlBlock_organisationunit}

			{BEGIN filter_button_showmore_organisationunit}
		<li class=" filter-show-more {$collapsedClass_organisationunit} {$showMoreBtnClass_organisationunit}">
			<a class="filter-show-more-link filterShowMore_organisationunit" href="#">{$show_n_more_organisationunit}</a>
		</li>
		{END filter_button_showmore_organisationunit}
	


			{BEGIN filter_button_apply_organisationunit}
		<li class="filter-multiselect  filter-field-btn {$collapsedClass_organisationunit}">
			<a href="#" class="filter-btn-apply filter-apply-organisationunit" {$filterbutton_attrs_organisationunit}>Apply</a>
		</li>
		{END filter_button_apply_organisationunit}
	

			</ul>
	</div>

{END filter_control_organisationunit}






{BEGIN filter_control_relative_period}

	<div class="dropdown filter-field filter-relative_period-container" {BEGIN filter_selected_relative_period} data-selected {END filter_selected_relative_period}>
		<div class="btn btn-link dropdown-toggle" data-toggle="dropdown">
						{BEGIN clearLink_relative_period}
			<a href="#" class="filter-clear filter-clear-relative_period" title="Clear">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_relative_period}
			<span class="r-filter-field">{$label DHIS_2_Reporting_Rates_Chart relative_period }				{BEGIN filter_selected_relative_period}:{END filter_selected_relative_period}
			</span>
			{BEGIN filter_selected_relative_period}
			<span class="r-filter-value">{$filtervalue_relative_period}</span>
			{END filter_selected_relative_period}
			
			<span class="caret"></span>
		</div>
		<ul class="dropdown-menu">
					{BEGIN filterCtrlBlock_relative_period}
		<li class=" filter-values filter-values-relative_period  {$visibilityClass_relative_period}">
			{$relative_period_filter}
						
					
					
					
					</li>
		{END filterCtrlBlock_relative_period}

			{BEGIN filter_button_showmore_relative_period}
		<li class=" filter-show-more {$collapsedClass_relative_period} {$showMoreBtnClass_relative_period}">
			<a class="filter-show-more-link filterShowMore_relative_period" href="#">{$show_n_more_relative_period}</a>
		</li>
		{END filter_button_showmore_relative_period}
	


	

			</ul>
	</div>

{END filter_control_relative_period}






{BEGIN filter_control_report_period}

	<div class="dropdown filter-field filter-report_period-container" {BEGIN filter_selected_report_period} data-selected {END filter_selected_report_period}>
		<div class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<input class="filter-selectAll-report_period" type="checkbox" name="selectAll" {$selectAll_attrs_report_period} />
						{BEGIN clearLink_report_period}
			<a href="#" class="filter-clear filter-clear-report_period" title="Clear">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			{END clearLink_report_period}
			<span class="r-filter-field">{$label DHIS_2_Reporting_Rates_Chart report_period }				{BEGIN filter_selected_report_period}:{END filter_selected_report_period}
			</span>
			{BEGIN filter_selected_report_period}
			<span class="r-filter-value">{$filtervalue_report_period}</span>
			{END filter_selected_report_period}
			
			<span class="caret"></span>
		</div>
		<ul class="dropdown-menu">
					{BEGIN filterCtrlBlock_report_period}
		<li class=" filter-values filter-values-report_period  {$visibilityClass_report_period}">
			{$report_period_filter}
						
					
					
					
					</li>
		{END filterCtrlBlock_report_period}

			{BEGIN filter_button_showmore_report_period}
		<li class=" filter-show-more {$collapsedClass_report_period} {$showMoreBtnClass_report_period}">
			<a class="filter-show-more-link filterShowMore_report_period" href="#">{$show_n_more_report_period}</a>
		</li>
		{END filter_button_showmore_report_period}
	


			{BEGIN filter_button_apply_report_period}
		<li class="filter-multiselect  filter-field-btn {$collapsedClass_report_period}">
			<a href="#" class="filter-btn-apply filter-apply-report_period" {$filterbutton_attrs_report_period}>Apply</a>
		</li>
		{END filter_button_apply_report_period}
	

			</ul>
	</div>

{END filter_control_report_period}



	<!-- End Filter panel content -->
	</div>
</div>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
			</div>

					{BEGIN grid_block}
	{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_grid_0} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_c1" data-pageid="{$pageid}">
 
<div data-itemtype="chart" data-itemid="chart" {$item_chart} data-pageid="{$pageid}" data-page="dhis_2_reporting_rates_chart_chart" >
{$chart dhis_2_reporting_rates_chart 530px}
</div>
  </td>
							</tr>
					
					</tbody>
				</table>
{END grid_block}
	
			{BEGIN below-grid_outerblock}
		<div class="panel-footer">
			{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
		</div>
	{END below-grid_outerblock}
		</div>

</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
