<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="./moh.png" />		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel DigitalHealth search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dh_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dh_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dh_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="dh_id" data-fieldname="dh_id" >


	<label class="r-search-label control-label" for="{$labelfor_dh_id}">
		{$label DigitalHealth dh_id }	</label>
	<div class="r-search-option">
		{$searchtype_dh_id}
	</div>
	<div class="r-search-field">
		{$dh_id_editcontrol}	</div>
	<div class="r-search-field">
		{$dh_id_editcontrol1}
	</div>
	
</div>

{END dh_id_fieldblock}
											
{BEGIN site_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_site_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="site_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="site_type" data-fieldname="site_type" >


	<label class="r-search-label control-label" for="{$labelfor_site_type}">
		{$label DigitalHealth site_type }	</label>
	<div class="r-search-option">
		{$searchtype_site_type}
	</div>
	<div class="r-search-field">
		{$site_type_editcontrol}	</div>
	<div class="r-search-field">
		{$site_type_editcontrol1}
	</div>
	
</div>

{END site_type_fieldblock}
											
{BEGIN dhis2_functional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dhis2_functional}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dhis2_functional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="dhis2_functional" data-fieldname="dhis2_functional" >


	<label class="r-search-label control-label" for="{$labelfor_dhis2_functional}">
		{$label DigitalHealth dhis2_functional }	</label>
	<div class="r-search-option">
		{$searchtype_dhis2_functional}
	</div>
	<div class="r-search-field">
		{$dhis2_functional_editcontrol}	</div>
	<div class="r-search-field">
		{$dhis2_functional_editcontrol1}
	</div>
	
</div>

{END dhis2_functional_fieldblock}
											
{BEGIN dhis2_online_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dhis2_online}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dhis2_online{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="dhis2_online" data-fieldname="dhis2_online" >


	<label class="r-search-label control-label" for="{$labelfor_dhis2_online}">
		{$label DigitalHealth dhis2_online }	</label>
	<div class="r-search-option">
		{$searchtype_dhis2_online}
	</div>
	<div class="r-search-field">
		{$dhis2_online_editcontrol}	</div>
	<div class="r-search-field">
		{$dhis2_online_editcontrol1}
	</div>
	
</div>

{END dhis2_online_fieldblock}
											
{BEGIN mfr_updated_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mfr_updated}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mfr_updated{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="mfr_updated" data-fieldname="mfr_updated" >


	<label class="r-search-label control-label" for="{$labelfor_mfr_updated}">
		{$label DigitalHealth mfr_updated }	</label>
	<div class="r-search-option">
		{$searchtype_mfr_updated}
	</div>
	<div class="r-search-field">
		{$mfr_updated_editcontrol}	</div>
	<div class="r-search-field">
		{$mfr_updated_editcontrol1}
	</div>
	
</div>

{END mfr_updated_fieldblock}
											
{BEGIN echis_implemented_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_echis_implemented}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="echis_implemented{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="echis_implemented" data-fieldname="echis_implemented" >


	<label class="r-search-label control-label" for="{$labelfor_echis_implemented}">
		{$label DigitalHealth echis_implemented }	</label>
	<div class="r-search-option">
		{$searchtype_echis_implemented}
	</div>
	<div class="r-search-field">
		{$echis_implemented_editcontrol}	</div>
	<div class="r-search-field">
		{$echis_implemented_editcontrol1}
	</div>
	
</div>

{END echis_implemented_fieldblock}
											
{BEGIN emr_status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_emr_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="emr_status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="emr_status" data-fieldname="emr_status" >


	<label class="r-search-label control-label" for="{$labelfor_emr_status}">
		{$label DigitalHealth emr_status }	</label>
	<div class="r-search-option">
		{$searchtype_emr_status}
	</div>
	<div class="r-search-field">
		{$emr_status_editcontrol}	</div>
	<div class="r-search-field">
		{$emr_status_editcontrol1}
	</div>
	
</div>

{END emr_status_fieldblock}
											
{BEGIN ihris_hra_implemented_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ihris_hra_implemented}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ihris_hra_implemented{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="ihris_hra_implemented" data-fieldname="ihris_hra_implemented" >


	<label class="r-search-label control-label" for="{$labelfor_ihris_hra_implemented}">
		{$label DigitalHealth ihris_hra_implemented }	</label>
	<div class="r-search-option">
		{$searchtype_ihris_hra_implemented}
	</div>
	<div class="r-search-field">
		{$ihris_hra_implemented_editcontrol}	</div>
	<div class="r-search-field">
		{$ihris_hra_implemented_editcontrol1}
	</div>
	
</div>

{END ihris_hra_implemented_fieldblock}
											
{BEGIN hcmis_implemented_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hcmis_implemented}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hcmis_implemented{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="hcmis_implemented" data-fieldname="hcmis_implemented" >


	<label class="r-search-label control-label" for="{$labelfor_hcmis_implemented}">
		{$label DigitalHealth hcmis_implemented }	</label>
	<div class="r-search-option">
		{$searchtype_hcmis_implemented}
	</div>
	<div class="r-search-field">
		{$hcmis_implemented_editcontrol}	</div>
	<div class="r-search-field">
		{$hcmis_implemented_editcontrol1}
	</div>
	
</div>

{END hcmis_implemented_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
