<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		{% if (o.newWindow ) { %} 
			target="_blank"
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_ethprism_additional_organizational_and_behavioral_assessment search}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN CompletionDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CompletionDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CompletionDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="CompletionDate" data-fieldname="CompletionDate" >


	<label class="r-search-label control-label" for="{$labelfor_CompletionDate}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment CompletionDate }	</label>
	<div class="r-search-option">
		{$searchtype_CompletionDate}
	</div>
	<div class="r-search-field">
		{$CompletionDate_editcontrol}	</div>
	<div class="r-search-field">
		{$CompletionDate_editcontrol1}
	</div>
	
</div>

{END CompletionDate_fieldblock}
											
{BEGIN SubmissionDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SubmissionDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="SubmissionDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="SubmissionDate" data-fieldname="SubmissionDate" >


	<label class="r-search-label control-label" for="{$labelfor_SubmissionDate}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment SubmissionDate }	</label>
	<div class="r-search-option">
		{$searchtype_SubmissionDate}
	</div>
	<div class="r-search-field">
		{$SubmissionDate_editcontrol}	</div>
	<div class="r-search-field">
		{$SubmissionDate_editcontrol1}
	</div>
	
</div>

{END SubmissionDate_fieldblock}
											
{BEGIN starttime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_starttime}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="starttime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="starttime" data-fieldname="starttime" >


	<label class="r-search-label control-label" for="{$labelfor_starttime}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment starttime }	</label>
	<div class="r-search-option">
		{$searchtype_starttime}
	</div>
	<div class="r-search-field">
		{$starttime_editcontrol}	</div>
	<div class="r-search-field">
		{$starttime_editcontrol1}
	</div>
	
</div>

{END starttime_fieldblock}
											
{BEGIN endtime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_endtime}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="endtime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="endtime" data-fieldname="endtime" >


	<label class="r-search-label control-label" for="{$labelfor_endtime}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment endtime }	</label>
	<div class="r-search-option">
		{$searchtype_endtime}
	</div>
	<div class="r-search-field">
		{$endtime_editcontrol}	</div>
	<div class="r-search-field">
		{$endtime_editcontrol1}
	</div>
	
</div>

{END endtime_fieldblock}
											
{BEGIN deviceid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_deviceid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="deviceid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="deviceid" data-fieldname="deviceid" >


	<label class="r-search-label control-label" for="{$labelfor_deviceid}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment deviceid }	</label>
	<div class="r-search-option">
		{$searchtype_deviceid}
	</div>
	<div class="r-search-field">
		{$deviceid_editcontrol}	</div>
	<div class="r-search-field">
		{$deviceid_editcontrol1}
	</div>
	
</div>

{END deviceid_fieldblock}
											
{BEGIN subscriberid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_subscriberid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="subscriberid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="subscriberid" data-fieldname="subscriberid" >


	<label class="r-search-label control-label" for="{$labelfor_subscriberid}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment subscriberid }	</label>
	<div class="r-search-option">
		{$searchtype_subscriberid}
	</div>
	<div class="r-search-field">
		{$subscriberid_editcontrol}	</div>
	<div class="r-search-field">
		{$subscriberid_editcontrol1}
	</div>
	
</div>

{END subscriberid_fieldblock}
											
{BEGIN simid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_simid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="simid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="simid" data-fieldname="simid" >


	<label class="r-search-label control-label" for="{$labelfor_simid}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment simid }	</label>
	<div class="r-search-option">
		{$searchtype_simid}
	</div>
	<div class="r-search-field">
		{$simid_editcontrol}	</div>
	<div class="r-search-field">
		{$simid_editcontrol1}
	</div>
	
</div>

{END simid_fieldblock}
											
{BEGIN devicephonenum_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_devicephonenum}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="devicephonenum{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="devicephonenum" data-fieldname="devicephonenum" >


	<label class="r-search-label control-label" for="{$labelfor_devicephonenum}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment devicephonenum }	</label>
	<div class="r-search-option">
		{$searchtype_devicephonenum}
	</div>
	<div class="r-search-field">
		{$devicephonenum_editcontrol}	</div>
	<div class="r-search-field">
		{$devicephonenum_editcontrol1}
	</div>
	
</div>

{END devicephonenum_fieldblock}
											
{BEGIN username_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="username{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="username" data-fieldname="username" >


	<label class="r-search-label control-label" for="{$labelfor_username}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment username }	</label>
	<div class="r-search-option">
		{$searchtype_username}
	</div>
	<div class="r-search-field">
		{$username_editcontrol}	</div>
	<div class="r-search-field">
		{$username_editcontrol1}
	</div>
	
</div>

{END username_fieldblock}
											
{BEGIN duration_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_duration}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="duration{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="duration" data-fieldname="duration" >


	<label class="r-search-label control-label" for="{$labelfor_duration}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment duration }	</label>
	<div class="r-search-option">
		{$searchtype_duration}
	</div>
	<div class="r-search-field">
		{$duration_editcontrol}	</div>
	<div class="r-search-field">
		{$duration_editcontrol1}
	</div>
	
</div>

{END duration_fieldblock}
											
{BEGIN caseid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_caseid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="caseid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="caseid" data-fieldname="caseid" >


	<label class="r-search-label control-label" for="{$labelfor_caseid}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment caseid }	</label>
	<div class="r-search-option">
		{$searchtype_caseid}
	</div>
	<div class="r-search-field">
		{$caseid_editcontrol}	</div>
	<div class="r-search-field">
		{$caseid_editcontrol1}
	</div>
	
</div>

{END caseid_fieldblock}
											
{BEGIN OBAT101_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT101}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT101{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="OBAT101" data-fieldname="OBAT101" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT101}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT101 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT101}
	</div>
	<div class="r-search-field">
		{$OBAT101_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT101_editcontrol1}
	</div>
	
</div>

{END OBAT101_fieldblock}
											
{BEGIN OBAT102_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT102}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT102{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="OBAT102" data-fieldname="OBAT102" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT102}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT102 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT102}
	</div>
	<div class="r-search-field">
		{$OBAT102_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT102_editcontrol1}
	</div>
	
</div>

{END OBAT102_fieldblock}
											
{BEGIN OBAT103_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT103}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT103{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="OBAT103" data-fieldname="OBAT103" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT103}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT103 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT103}
	</div>
	<div class="r-search-field">
		{$OBAT103_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT103_editcontrol1}
	</div>
	
</div>

{END OBAT103_fieldblock}
											
{BEGIN OBAT104_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT104}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT104{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="OBAT104" data-fieldname="OBAT104" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT104}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT104 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT104}
	</div>
	<div class="r-search-field">
		{$OBAT104_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT104_editcontrol1}
	</div>
	
</div>

{END OBAT104_fieldblock}
											
{BEGIN admin_lvl_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_admin_lvl}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="admin_lvl{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="admin_lvl" data-fieldname="admin_lvl" >


	<label class="r-search-label control-label" for="{$labelfor_admin_lvl}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment admin_lvl }	</label>
	<div class="r-search-option">
		{$searchtype_admin_lvl}
	</div>
	<div class="r-search-field">
		{$admin_lvl_editcontrol}	</div>
	<div class="r-search-field">
		{$admin_lvl_editcontrol1}
	</div>
	
</div>

{END admin_lvl_fieldblock}
											
{BEGIN OBAT105_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT105}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT105{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="OBAT105" data-fieldname="OBAT105" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT105}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT105 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT105}
	</div>
	<div class="r-search-field">
		{$OBAT105_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT105_editcontrol1}
	</div>
	
</div>

{END OBAT105_fieldblock}
											
{BEGIN OBAT106_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT106}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT106{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="OBAT106" data-fieldname="OBAT106" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT106}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT106 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT106}
	</div>
	<div class="r-search-field">
		{$OBAT106_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT106_editcontrol1}
	</div>
	
</div>

{END OBAT106_fieldblock}
											
{BEGIN OBAT107_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT107}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT107{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="OBAT107" data-fieldname="OBAT107" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT107}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT107 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT107}
	</div>
	<div class="r-search-field">
		{$OBAT107_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT107_editcontrol1}
	</div>
	
</div>

{END OBAT107_fieldblock}
											
{BEGIN OBAT108_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT108}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT108{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="OBAT108" data-fieldname="OBAT108" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT108}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT108 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT108}
	</div>
	<div class="r-search-field">
		{$OBAT108_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT108_editcontrol1}
	</div>
	
</div>

{END OBAT108_fieldblock}
											
{BEGIN siteid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_siteid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="siteid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="siteid" data-fieldname="siteid" >


	<label class="r-search-label control-label" for="{$labelfor_siteid}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment siteid }	</label>
	<div class="r-search-option">
		{$searchtype_siteid}
	</div>
	<div class="r-search-field">
		{$siteid_editcontrol}	</div>
	<div class="r-search-field">
		{$siteid_editcontrol1}
	</div>
	
</div>

{END siteid_fieldblock}
											
{BEGIN OBAT109f_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT109f}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT109f{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="OBAT109f" data-fieldname="OBAT109f" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT109f}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT109f }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT109f}
	</div>
	<div class="r-search-field">
		{$OBAT109f_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT109f_editcontrol1}
	</div>
	
</div>

{END OBAT109f_fieldblock}
											
{BEGIN OBAT110f_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT110f}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT110f{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="OBAT110f" data-fieldname="OBAT110f" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT110f}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT110f }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT110f}
	</div>
	<div class="r-search-field">
		{$OBAT110f_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT110f_editcontrol1}
	</div>
	
</div>

{END OBAT110f_fieldblock}
											
{BEGIN OBAT111_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT111}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT111{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="OBAT111" data-fieldname="OBAT111" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT111}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT111 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT111}
	</div>
	<div class="r-search-field">
		{$OBAT111_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT111_editcontrol1}
	</div>
	
</div>

{END OBAT111_fieldblock}
											
{BEGIN OBAT112_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBAT112}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBAT112{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="OBAT112" data-fieldname="OBAT112" >


	<label class="r-search-label control-label" for="{$labelfor_OBAT112}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment OBAT112 }	</label>
	<div class="r-search-option">
		{$searchtype_OBAT112}
	</div>
	<div class="r-search-field">
		{$OBAT112_editcontrol}	</div>
	<div class="r-search-field">
		{$OBAT112_editcontrol1}
	</div>
	
</div>

{END OBAT112_fieldblock}
											
{BEGIN DD1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="DD1" data-fieldname="DD1" >


	<label class="r-search-label control-label" for="{$labelfor_DD1}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD1 }	</label>
	<div class="r-search-option">
		{$searchtype_DD1}
	</div>
	<div class="r-search-field">
		{$DD1_editcontrol}	</div>
	<div class="r-search-field">
		{$DD1_editcontrol1}
	</div>
	
</div>

{END DD1_fieldblock}
											
{BEGIN DD2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="DD2" data-fieldname="DD2" >


	<label class="r-search-label control-label" for="{$labelfor_DD2}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD2 }	</label>
	<div class="r-search-option">
		{$searchtype_DD2}
	</div>
	<div class="r-search-field">
		{$DD2_editcontrol}	</div>
	<div class="r-search-field">
		{$DD2_editcontrol1}
	</div>
	
</div>

{END DD2_fieldblock}
											
{BEGIN DD3a_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD3a}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD3a{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="DD3a" data-fieldname="DD3a" >


	<label class="r-search-label control-label" for="{$labelfor_DD3a}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD3a }	</label>
	<div class="r-search-option">
		{$searchtype_DD3a}
	</div>
	<div class="r-search-field">
		{$DD3a_editcontrol}	</div>
	<div class="r-search-field">
		{$DD3a_editcontrol1}
	</div>
	
</div>

{END DD3a_fieldblock}
											
{BEGIN DD3b_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD3b}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD3b{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="DD3b" data-fieldname="DD3b" >


	<label class="r-search-label control-label" for="{$labelfor_DD3b}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD3b }	</label>
	<div class="r-search-option">
		{$searchtype_DD3b}
	</div>
	<div class="r-search-field">
		{$DD3b_editcontrol}	</div>
	<div class="r-search-field">
		{$DD3b_editcontrol1}
	</div>
	
</div>

{END DD3b_fieldblock}
											
{BEGIN DD4a_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD4a}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD4a{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="DD4a" data-fieldname="DD4a" >


	<label class="r-search-label control-label" for="{$labelfor_DD4a}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD4a }	</label>
	<div class="r-search-option">
		{$searchtype_DD4a}
	</div>
	<div class="r-search-field">
		{$DD4a_editcontrol}	</div>
	<div class="r-search-field">
		{$DD4a_editcontrol1}
	</div>
	
</div>

{END DD4a_fieldblock}
											
{BEGIN DD4b_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD4b}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD4b{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="DD4b" data-fieldname="DD4b" >


	<label class="r-search-label control-label" for="{$labelfor_DD4b}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD4b }	</label>
	<div class="r-search-option">
		{$searchtype_DD4b}
	</div>
	<div class="r-search-field">
		{$DD4b_editcontrol}	</div>
	<div class="r-search-field">
		{$DD4b_editcontrol1}
	</div>
	
</div>

{END DD4b_fieldblock}
											
{BEGIN DD5a_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD5a}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD5a{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="DD5a" data-fieldname="DD5a" >


	<label class="r-search-label control-label" for="{$labelfor_DD5a}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD5a }	</label>
	<div class="r-search-option">
		{$searchtype_DD5a}
	</div>
	<div class="r-search-field">
		{$DD5a_editcontrol}	</div>
	<div class="r-search-field">
		{$DD5a_editcontrol1}
	</div>
	
</div>

{END DD5a_fieldblock}
											
{BEGIN DD5b_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD5b}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD5b{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="DD5b" data-fieldname="DD5b" >


	<label class="r-search-label control-label" for="{$labelfor_DD5b}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD5b }	</label>
	<div class="r-search-option">
		{$searchtype_DD5b}
	</div>
	<div class="r-search-field">
		{$DD5b_editcontrol}	</div>
	<div class="r-search-field">
		{$DD5b_editcontrol1}
	</div>
	
</div>

{END DD5b_fieldblock}
											
{BEGIN DD5c_1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD5c_1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD5c_1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="DD5c_1" data-fieldname="DD5c_1" >


	<label class="r-search-label control-label" for="{$labelfor_DD5c_1}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD5c_1 }	</label>
	<div class="r-search-option">
		{$searchtype_DD5c_1}
	</div>
	<div class="r-search-field">
		{$DD5c_1_editcontrol}	</div>
	<div class="r-search-field">
		{$DD5c_1_editcontrol1}
	</div>
	
</div>

{END DD5c_1_fieldblock}
											
{BEGIN DD5c_2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD5c_2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD5c_2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="DD5c_2" data-fieldname="DD5c_2" >


	<label class="r-search-label control-label" for="{$labelfor_DD5c_2}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD5c_2 }	</label>
	<div class="r-search-option">
		{$searchtype_DD5c_2}
	</div>
	<div class="r-search-field">
		{$DD5c_2_editcontrol}	</div>
	<div class="r-search-field">
		{$DD5c_2_editcontrol1}
	</div>
	
</div>

{END DD5c_2_fieldblock}
											
{BEGIN DD5c_3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD5c_3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD5c_3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="DD5c_3" data-fieldname="DD5c_3" >


	<label class="r-search-label control-label" for="{$labelfor_DD5c_3}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD5c_3 }	</label>
	<div class="r-search-option">
		{$searchtype_DD5c_3}
	</div>
	<div class="r-search-field">
		{$DD5c_3_editcontrol}	</div>
	<div class="r-search-field">
		{$DD5c_3_editcontrol1}
	</div>
	
</div>

{END DD5c_3_fieldblock}
											
{BEGIN DD5c_5_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD5c_5}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD5c_5{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="DD5c_5" data-fieldname="DD5c_5" >


	<label class="r-search-label control-label" for="{$labelfor_DD5c_5}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD5c_5 }	</label>
	<div class="r-search-option">
		{$searchtype_DD5c_5}
	</div>
	<div class="r-search-field">
		{$DD5c_5_editcontrol}	</div>
	<div class="r-search-field">
		{$DD5c_5_editcontrol1}
	</div>
	
</div>

{END DD5c_5_fieldblock}
											
{BEGIN DD5c_96_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD5c_96}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD5c_96{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="DD5c_96" data-fieldname="DD5c_96" >


	<label class="r-search-label control-label" for="{$labelfor_DD5c_96}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD5c_96 }	</label>
	<div class="r-search-option">
		{$searchtype_DD5c_96}
	</div>
	<div class="r-search-field">
		{$DD5c_96_editcontrol}	</div>
	<div class="r-search-field">
		{$DD5c_96_editcontrol1}
	</div>
	
</div>

{END DD5c_96_fieldblock}
											
{BEGIN DD5co_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DD5co}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DD5co{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field42" {$item_integrated_search_field42} data-pageid="{$pageid}" data-field="DD5co" data-fieldname="DD5co" >


	<label class="r-search-label control-label" for="{$labelfor_DD5co}">
		{$label public_ethprism_additional_organizational_and_behavioral_assessment DD5co }	</label>
	<div class="r-search-option">
		{$searchtype_DD5co}
	</div>
	<div class="r-search-field">
		{$DD5co_editcontrol}	</div>
	<div class="r-search-field">
		{$DD5co_editcontrol1}
	</div>
	
</div>

{END DD5co_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
