<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="./assets/img/mohfavicon.png" />  		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel public_ethprism_facility_level_rhis_performance_diagnostic print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table table-condensed table-striped table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CompletionDate_class}	"

			data-field="CompletionDate"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CompletionDate_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CompletionDate" data-fieldname="CompletionDate">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic CompletionDate }	</span>
{END CompletionDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SubmissionDate_class}	"

			data-field="SubmissionDate"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SubmissionDate_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SubmissionDate" data-fieldname="SubmissionDate">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic SubmissionDate }	</span>
{END SubmissionDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$starttime_class}	"

			data-field="starttime"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN starttime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="starttime" data-fieldname="starttime">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic starttime }	</span>
{END starttime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$endtime_class}	"

			data-field="endtime"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN endtime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="endtime" data-fieldname="endtime">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic endtime }	</span>
{END endtime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$deviceid_class}	"

			data-field="deviceid"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN deviceid_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="deviceid" data-fieldname="deviceid">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic deviceid }	</span>
{END deviceid_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$subscriberid_class}	"

			data-field="subscriberid"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN subscriberid_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="subscriberid" data-fieldname="subscriberid">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic subscriberid }	</span>
{END subscriberid_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$simid_class}	"

			data-field="simid"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN simid_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="simid" data-fieldname="simid">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic simid }	</span>
{END simid_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$devicephonenum_class}	"

			data-field="devicephonenum"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN devicephonenum_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="devicephonenum" data-fieldname="devicephonenum">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic devicephonenum }	</span>
{END devicephonenum_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$username_class}	"

			data-field="username"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN username_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="username" data-fieldname="username">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic username }	</span>
{END username_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$duration_class}	"

			data-field="duration"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN duration_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="duration" data-fieldname="duration">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic duration }	</span>
{END duration_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$caseid_class}	"

			data-field="caseid"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN caseid_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="caseid" data-fieldname="caseid">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic caseid }	</span>
{END caseid_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ104_class}	"

			data-field="FQ104"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ104_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ104" data-fieldname="FQ104">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ104 }	</span>
{END FQ104_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ101_class}	"

			data-field="FQ101"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ101_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ101" data-fieldname="FQ101">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ101 }	</span>
{END FQ101_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ102_class}	"

			data-field="FQ102"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ102_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ102" data-fieldname="FQ102">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ102 }	</span>
{END FQ102_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ103_class}	"

			data-field="FQ103"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ103_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field38" {$item_simple_grid_field38} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ103" data-fieldname="FQ103">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ103 }	</span>
{END FQ103_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ105_class}	"

			data-field="FQ105"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ105_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field39" {$item_simple_grid_field39} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ105" data-fieldname="FQ105">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ105 }	</span>
{END FQ105_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ106_class}	"

			data-field="FQ106"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ106_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field40" {$item_simple_grid_field40} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ106" data-fieldname="FQ106">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ106 }	</span>
{END FQ106_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ107_class}	"

			data-field="FQ107"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ107_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field41" {$item_simple_grid_field41} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ107" data-fieldname="FQ107">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ107 }	</span>
{END FQ107_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
									{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ108_class}	"

			data-field="FQ108"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ108_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field42" {$item_simple_grid_field42} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ108" data-fieldname="FQ108">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ108 }	</span>
{END FQ108_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
									{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$siteid_class}	"

			data-field="siteid"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN siteid_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field43" {$item_simple_grid_field43} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="siteid" data-fieldname="siteid">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic siteid }	</span>
{END siteid_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
									{BEGIN cellblock_grid_headcell_field20}
	<th
	
	{$cell_grid_headcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ109_class}	"

			data-field="FQ109"
	
	data-cellId="grid_headcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ109_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field44" {$item_simple_grid_field44} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ109" data-fieldname="FQ109">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ109 }	</span>
{END FQ109_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field20}
									{BEGIN cellblock_grid_headcell_field21}
	<th
	
	{$cell_grid_headcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ110_class}	"

			data-field="FQ110"
	
	data-cellId="grid_headcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ110_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field45" {$item_simple_grid_field45} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ110" data-fieldname="FQ110">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ110 }	</span>
{END FQ110_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field21}
									{BEGIN cellblock_grid_headcell_field22}
	<th
	
	{$cell_grid_headcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ111_class}	"

			data-field="FQ111"
	
	data-cellId="grid_headcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ111_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field46" {$item_simple_grid_field46} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ111" data-fieldname="FQ111">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ111 }	</span>
{END FQ111_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field22}
									{BEGIN cellblock_grid_headcell_field23}
	<th
	
	{$cell_grid_headcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ112_class}	"

			data-field="FQ112"
	
	data-cellId="grid_headcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ112_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field47" {$item_simple_grid_field47} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ112" data-fieldname="FQ112">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ112 }	</span>
{END FQ112_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field23}
									{BEGIN cellblock_grid_headcell_field24}
	<th
	
	{$cell_grid_headcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ113_class}	"

			data-field="FQ113"
	
	data-cellId="grid_headcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ113_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field655" {$item_simple_grid_field655} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ113" data-fieldname="FQ113">
	{$label public_ethprism_facility_level_rhis_performance_diagnostic FQ113 }	</span>
{END FQ113_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field24}
							</tr>
															
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CompletionDate_class}	"

			data-field="CompletionDate"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CompletionDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CompletionDate" data-fieldname="CompletionDate" data-default-width >
{$CompletionDate_value}
</span>
{END CompletionDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SubmissionDate_class}	"

			data-field="SubmissionDate"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SubmissionDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SubmissionDate" data-fieldname="SubmissionDate" data-default-width >
{$SubmissionDate_value}
</span>
{END SubmissionDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$starttime_class}	"

			data-field="starttime"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN starttime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="starttime" data-fieldname="starttime" data-default-width >
{$starttime_value}
</span>
{END starttime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$endtime_class}	"

			data-field="endtime"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN endtime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="endtime" data-fieldname="endtime" data-default-width >
{$endtime_value}
</span>
{END endtime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$deviceid_class}	"

			data-field="deviceid"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN deviceid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="deviceid" data-fieldname="deviceid" data-default-width >
{$deviceid_value}
</span>
{END deviceid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$subscriberid_class}	"

			data-field="subscriberid"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN subscriberid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="subscriberid" data-fieldname="subscriberid" data-default-width >
{$subscriberid_value}
</span>
{END subscriberid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$simid_class}	"

			data-field="simid"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN simid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="simid" data-fieldname="simid" data-default-width >
{$simid_value}
</span>
{END simid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$devicephonenum_class}	"

			data-field="devicephonenum"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN devicephonenum_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="devicephonenum" data-fieldname="devicephonenum" data-default-width >
{$devicephonenum_value}
</span>
{END devicephonenum_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$username_class}	"

			data-field="username"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN username_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="username" data-fieldname="username" data-default-width >
{$username_value}
</span>
{END username_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$duration_class}	"

			data-field="duration"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN duration_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="duration" data-fieldname="duration" data-default-width >
{$duration_value}
</span>
{END duration_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$caseid_class}	"

			data-field="caseid"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN caseid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="caseid" data-fieldname="caseid" data-default-width >
{$caseid_value}
</span>
{END caseid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ104_class}	"

			data-field="FQ104"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ104_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ104" data-fieldname="FQ104" data-default-width >
{$FQ104_value}
</span>
{END FQ104_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ101_class}	"

			data-field="FQ101"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ101_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ101" data-fieldname="FQ101" data-default-width >
{$FQ101_value}
</span>
{END FQ101_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ102_class}	"

			data-field="FQ102"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ102_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ102" data-fieldname="FQ102" data-default-width >
{$FQ102_value}
</span>
{END FQ102_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ103_class}	"

			data-field="FQ103"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ103_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ103" data-fieldname="FQ103" data-default-width >
{$FQ103_value}
</span>
{END FQ103_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ105_class}	"

			data-field="FQ105"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ105_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ105" data-fieldname="FQ105" data-default-width >
{$FQ105_value}
</span>
{END FQ105_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ106_class}	"

			data-field="FQ106"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ106_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ106" data-fieldname="FQ106" data-default-width >
{$FQ106_value}
</span>
{END FQ106_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ107_class}	"

			data-field="FQ107"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ107_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ107" data-fieldname="FQ107" data-default-width >
{$FQ107_value}
</span>
{END FQ107_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
									{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ108_class}	"

			data-field="FQ108"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ108_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ108" data-fieldname="FQ108" data-default-width >
{$FQ108_value}
</span>
{END FQ108_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
									{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$siteid_class}	"

			data-field="siteid"
	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN siteid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="siteid" data-fieldname="siteid" data-default-width >
{$siteid_value}
</span>
{END siteid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field19}
									{BEGIN cellblock_grid_cell_field20}
	<td
	
	{$cell_grid_cell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ109_class}	"

			data-field="FQ109"
	
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ109_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ109" data-fieldname="FQ109" data-default-width >
{$FQ109_value}
</span>
{END FQ109_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field20}
									{BEGIN cellblock_grid_cell_field21}
	<td
	
	{$cell_grid_cell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ110_class}	"

			data-field="FQ110"
	
	data-cellId="grid_cell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ110_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ110" data-fieldname="FQ110" data-default-width >
{$FQ110_value}
</span>
{END FQ110_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field21}
									{BEGIN cellblock_grid_cell_field22}
	<td
	
	{$cell_grid_cell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ111_class}	"

			data-field="FQ111"
	
	data-cellId="grid_cell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ111_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ111" data-fieldname="FQ111" data-default-width >
{$FQ111_value}
</span>
{END FQ111_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field22}
									{BEGIN cellblock_grid_cell_field23}
	<td
	
	{$cell_grid_cell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ112_class}	"

			data-field="FQ112"
	
	data-cellId="grid_cell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ112_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ112" data-fieldname="FQ112" data-default-width >
{$FQ112_value}
</span>
{END FQ112_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field23}
									{BEGIN cellblock_grid_cell_field24}
	<td
	
	{$cell_grid_cell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ113_class}	"

			data-field="FQ113"
	
	data-cellId="grid_cell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FQ113_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field654" {$item_simple_grid_field654} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FQ113" data-fieldname="FQ113" data-default-width >
{$FQ113_value}
</span>
{END FQ113_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field24}
							</tr>
										
											</tbody>
					{END grid_row}
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$CompletionDate_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SubmissionDate_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$starttime_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$endtime_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$deviceid_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$subscriberid_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$simid_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$devicephonenum_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$username_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$duration_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$caseid_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ104_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ101_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ102_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ103_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ105_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ106_class}	"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ107_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
									{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ108_class}	"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
									{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$siteid_class}	"

	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field19}
									{BEGIN cellblock_grid_footcell_field20}
	<td
	
	{$cell_grid_footcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ109_class}	"

	
	data-cellId="grid_footcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field20}
									{BEGIN cellblock_grid_footcell_field21}
	<td
	
	{$cell_grid_footcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ110_class}	"

	
	data-cellId="grid_footcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field21}
									{BEGIN cellblock_grid_footcell_field22}
	<td
	
	{$cell_grid_footcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ111_class}	"

	
	data-cellId="grid_footcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field22}
									{BEGIN cellblock_grid_footcell_field23}
	<td
	
	{$cell_grid_footcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ112_class}	"

	
	data-cellId="grid_footcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field23}
									{BEGIN cellblock_grid_footcell_field24}
	<td
	
	{$cell_grid_footcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$FQ113_class}	"

	
	data-cellId="grid_footcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="ethprism_facility_level_rhis_performance_diagnostic_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field24}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
