<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="./assets/img/mohfavicon.png" />  
    <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//hispmd.merqconsultancy.org/analytics/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>
	<body class="{$stylename} function-list"  >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				data-fixed 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="center"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN exportselected_link}
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span}  title="" >
				
		{mlang_message EXPORT_SELECTED}		
		</a>
	</li>
{END exportselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="main_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		{mlang_message ADVANCED_SEARCH}		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		{mlang_message SHOW_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		{mlang_message HIDE_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		{mlang_message EXPORT_RESULTS}		
		</a>
	</li>
{END export_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							{mlang_message LOGIN}			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		{mlang_message USERINFO}		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		{mlang_message LOG_OUT}		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="center"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c" data-pageid="{$pageid}"	{$cell_top_c}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-page="main_category" data-small > 
	How can we help you?</span>
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class="r-align-center			col-md-12
	
">
		 
		<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="{mlang_message SHOW_ALL}">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>	 
		<span data-itemtype="snippet" data-itemid="category_select" {$item_category_select} data-pageid="{$pageid}" >
{$event category_select}
</span>		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}" data-page="main_category"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
			</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_left_0} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
</td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="snippet" data-itemid="category_title" {$item_category_title} data-pageid="{$pageid}" data-page="main_category" >
{$event category_title}
</span>			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					
{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<div data-vcolumns=1 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	{BEGIN grid_record}
	{BEGIN grid_vrecord}
	<div class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle} data-record-id="{$recId}">
		<div class="panel panel-default" {$recordattrs}>
											{BEGIN grid_recordheader}
			<div class="panel-heading">
					
	
				<table data-width="1" class="header-table">
				 
										<tr>
						 
							<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
</td>
											</tr>
									 
									 
									 
									 
													</table>

					</div>
		{END grid_recordheader}
									
			<div class="panel-body">					
					
	
				<table data-width="1" >
				 
									 
										<tr>
						 
							<td 
	class=" r-ori-vert				{$Title_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN Title_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-page="main_category" data-record-id="{$recId}" data-field="Title" data-fieldname="Title" data-default-width >
{$Title_value}
</span>
{END Title_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class=" r-ori-vert				{$Problem_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN Problem_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Problem" data-fieldname="Problem" data-default-width >
{$Problem_value}
</span>
{END Problem_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class=" r-ori-vert				{$Views_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN Views_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Views" data-fieldname="Views" data-default-width >
{$Views_value}
</span>
{END Views_fieldcolumn}</td>
											</tr>
									 
													</table>

				
			</div>				
									
		</div>
</div>
		

 
			{END grid_vrecord}
	{END grid_record}
{END grid_row}
</div>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
	</div>




											
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
