<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel MFR_Facilities search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label MFR_Facilities id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label MFR_Facilities name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="status" data-fieldname="status" >


	<label class="r-search-label control-label" for="{$labelfor_status}">
		{$label MFR_Facilities status }	</label>
	<div class="r-search-option">
		{$searchtype_status}
	</div>
	<div class="r-search-field">
		{$status_editcontrol}	</div>
	<div class="r-search-field">
		{$status_editcontrol1}
	</div>
	
</div>

{END status_fieldblock}
											
{BEGIN operationalStatus_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_operationalStatus}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="operationalStatus{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="operationalStatus" data-fieldname="operationalStatus" >


	<label class="r-search-label control-label" for="{$labelfor_operationalStatus}">
		{$label MFR_Facilities operationalStatus }	</label>
	<div class="r-search-option">
		{$searchtype_operationalStatus}
	</div>
	<div class="r-search-field">
		{$operationalStatus_editcontrol}	</div>
	<div class="r-search-field">
		{$operationalStatus_editcontrol1}
	</div>
	
</div>

{END operationalStatus_fieldblock}
											
{BEGIN facilityType_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_facilityType}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="facilityType{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="facilityType" data-fieldname="facilityType" >


	<label class="r-search-label control-label" for="{$labelfor_facilityType}">
		{$label MFR_Facilities facilityType }	</label>
	<div class="r-search-option">
		{$searchtype_facilityType}
	</div>
	<div class="r-search-field">
		{$facilityType_editcontrol}	</div>
	<div class="r-search-field">
		{$facilityType_editcontrol1}
	</div>
	
</div>

{END facilityType_fieldblock}
											
{BEGIN parentFacilityType_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_parentFacilityType}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="parentFacilityType{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="parentFacilityType" data-fieldname="parentFacilityType" >


	<label class="r-search-label control-label" for="{$labelfor_parentFacilityType}">
		{$label MFR_Facilities parentFacilityType }	</label>
	<div class="r-search-option">
		{$searchtype_parentFacilityType}
	</div>
	<div class="r-search-field">
		{$parentFacilityType_editcontrol}	</div>
	<div class="r-search-field">
		{$parentFacilityType_editcontrol1}
	</div>
	
</div>

{END parentFacilityType_fieldblock}
											
{BEGIN region_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_region}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="region{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="region" data-fieldname="region" >


	<label class="r-search-label control-label" for="{$labelfor_region}">
		{$label MFR_Facilities region }	</label>
	<div class="r-search-option">
		{$searchtype_region}
	</div>
	<div class="r-search-field">
		{$region_editcontrol}	</div>
	<div class="r-search-field">
		{$region_editcontrol1}
	</div>
	
</div>

{END region_fieldblock}
											
{BEGIN zone_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_zone}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="zone{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="zone" data-fieldname="zone" >


	<label class="r-search-label control-label" for="{$labelfor_zone}">
		{$label MFR_Facilities zone }	</label>
	<div class="r-search-option">
		{$searchtype_zone}
	</div>
	<div class="r-search-field">
		{$zone_editcontrol}	</div>
	<div class="r-search-field">
		{$zone_editcontrol1}
	</div>
	
</div>

{END zone_fieldblock}
											
{BEGIN woreda_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_woreda}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="woreda{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="woreda" data-fieldname="woreda" >


	<label class="r-search-label control-label" for="{$labelfor_woreda}">
		{$label MFR_Facilities woreda }	</label>
	<div class="r-search-option">
		{$searchtype_woreda}
	</div>
	<div class="r-search-field">
		{$woreda_editcontrol}	</div>
	<div class="r-search-field">
		{$woreda_editcontrol1}
	</div>
	
</div>

{END woreda_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
