<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="back_master" data-itemid="back_master" {$item_back_master} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-link  btn-xs 
	" {$backtomasterlink_attrs} >
							{mlang_message BACK_TO_MASTER}			</a>
</span>
	 
		<h3 class="panel-title" data-itemtype="masterlist_header" data-itemid="masterlist_header" {$item_masterlist_header} data-pageid="{$pageid}" >{$pagetitlelabel public_moh_regions masterlist}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" class=" table table-condensed table-striped table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_id_class}	"

			data-field="region_id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN region_id_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="region_id" data-fieldname="region_id">
	{$label public_moh_regions region_id }	</span>
{END region_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_name_class}	"

			data-field="region_name"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN region_name_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="region_name" data-fieldname="region_name">
	{$label public_moh_regions region_name }	</span>
{END region_name_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_alternate_class}	"

			data-field="region_alternate"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN region_alternate_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="region_alternate" data-fieldname="region_alternate">
	{$label public_moh_regions region_alternate }	</span>
{END region_alternate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$lat_class}	"

			data-field="lat"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN lat_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="lat" data-fieldname="lat">
	{$label public_moh_regions lat }	</span>
{END lat_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$lng_class}	"

			data-field="lng"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN lng_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="lng" data-fieldname="lng">
	{$label public_moh_regions lng }	</span>
{END lng_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$code_class}	"

			data-field="code"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN code_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="code" data-fieldname="code">
	{$label public_moh_regions code }	</span>
{END code_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$map_class}	"

			data-field="map"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN map_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="map" data-fieldname="map">
	{$label public_moh_regions map }	</span>
{END map_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_id_class}	"

			data-field="region_id"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN region_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="region_id" data-fieldname="region_id" data-default-width >
{$region_id_value}
</span>
{END region_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_name_class}	"

			data-field="region_name"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN region_name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="region_name" data-fieldname="region_name" data-default-width >
{$region_name_value}
</span>
{END region_name_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_alternate_class}	"

			data-field="region_alternate"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN region_alternate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="region_alternate" data-fieldname="region_alternate" data-default-width >
{$region_alternate_value}
</span>
{END region_alternate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$lat_class}	"

			data-field="lat"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN lat_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="lat" data-fieldname="lat" data-default-width >
{$lat_value}
</span>
{END lat_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$lng_class}	"

			data-field="lng"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN lng_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="lng" data-fieldname="lng" data-default-width >
{$lng_value}
</span>
{END lng_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$code_class}	"

			data-field="code"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN code_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="code" data-fieldname="code" data-default-width >
{$code_value}
</span>
{END code_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$map_class}	"

			data-field="map"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN map_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="map" data-fieldname="map" data-default-width >
{$map_value}
</span>
{END map_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_id_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_regions_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_name_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_regions_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$region_alternate_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_regions_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$lat_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_regions_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$lng_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_regions_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$code_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_regions_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$map_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_regions_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
								</div>
</div>
