<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="./assets/img/mohfavicon.png" />  
    <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//hispmd.merqconsultancy.org/analytics/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-list"   
			data-panel-bg
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"	 >

	<div class="panel-heading">
		<div class="btn-group r-sp-addfield" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group r-sp-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_baseline}


		<div class="form-group srchPanelRow {$filterRow_class_baseline}" {$filterRow_attrs_baseline}>
			<label>{$label public_moh_indicators baseline }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_baseline}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_baseline}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_baseline}</span>
						</div>
		{END searchCtrlBlock_baseline}
																{BEGIN searchCtrlBlock_indicator_group_id}


		<div class="form-group srchPanelRow {$filterRow_class_indicator_group_id}" {$filterRow_attrs_indicator_group_id}>
			<label>{$label public_moh_indicators indicator_group_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_indicator_group_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_indicator_group_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_indicator_group_id}</span>
						</div>
		{END searchCtrlBlock_indicator_group_id}
																{BEGIN searchCtrlBlock_target}


		<div class="form-group srchPanelRow {$filterRow_class_target}" {$filterRow_attrs_target}>
			<label>{$label public_moh_indicators target }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_target}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_target}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_target}</span>
						</div>
		{END searchCtrlBlock_target}
																{BEGIN searchCtrlBlock_indicator_name}


		<div class="form-group srchPanelRow {$filterRow_class_indicator_name}" {$filterRow_attrs_indicator_name}>
			<label>{$label public_moh_indicators indicator_name }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_indicator_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_indicator_name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_indicator_name}</span>
						</div>
		{END searchCtrlBlock_indicator_name}
																{BEGIN searchCtrlBlock_indicator_id}


		<div class="form-group srchPanelRow {$filterRow_class_indicator_id}" {$filterRow_attrs_indicator_id}>
			<label>{$label public_moh_indicators indicator_id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_indicator_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_indicator_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_indicator_id}</span>
						</div>
		{END searchCtrlBlock_indicator_id}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN exportselected_link}
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span}  title="" >
				
		Export selected		
		</a>
	</li>
{END exportselected_link}
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		Delete selected		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="moh_indicators_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Export results		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="moh_indicators_import.php{$stateLink_full}"  title="" >
				
		Import		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-grid"
			data-responsive
	>
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
	<div class="panel panel-default"
	>
		<div class="panel-heading">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="moh_indicators_add.php{$stateLink_full}" >
							Add new			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Inline Add			</a>
</span>
{END inlineadd_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							Delete			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="moh_indicators_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Print all pages							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="moh_indicators_print.php?{$crosstable_attrs}">
				Print this page			</label>
		</div>
	</div>
		
		 
	<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio" >
			Print selected			</label>
		</div>
	</div>
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									{BEGIN print_details}
<div>
	<label for="printDetailsToggler{$id}">
		<input type="checkbox" id="printDetailsToggler{$id}">
		Print details	</label>
	<div  id="printdetailstables{$id}" style="display:none;">
											{BEGIN print_details_moh_indicator_data}
			<div>
				<label for="printDetailsmoh_indicator_data{$id}">
					<input type="checkbox" value="moh_indicator_data" id="printDetailsmoh_indicator_data{$id}" checked>
					Moh Indicator Data				</label>
			</div>
			{END print_details_moh_indicator_data}
														</div>
</div>
{END print_details}
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Records Per Page							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
			</div>		
{END above-grid_block}
			</div>

					{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="indicator_id"]:before {
		content: "{$label public_moh_indicators indicator_id}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="indicator_name"]:before {
		content: "{$label public_moh_indicators indicator_name}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="baseline"]:before {
		content: "{$label public_moh_indicators baseline}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="target"]:before {
		content: "{$label public_moh_indicators target}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="indicator_group_id"]:before {
		content: "{$label public_moh_indicators indicator_group_id}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table table-condensed table-striped table-hover table-bordered r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="2"
>
						<thead>
			{BEGIN grid_header}
			
																														<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
									{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
									{BEGIN cellblock_grid_headcell_details}
	<th
	
	{$cell_grid_headcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_details}
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_id_class}	"

			data-field="indicator_id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN indicator_id_fieldheadercolumn}
	{BEGIN indicator_id_fieldheader}
	<SPAN {$indicator_id_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="indicator_id" data-fieldname="indicator_id">
	{$label public_moh_indicators indicator_id }	{$arrow_icon_indicator_id}
	</SPAN>
	{END indicator_id_fieldheader}
{END indicator_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_name_class}	"

			data-field="indicator_name"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN indicator_name_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="indicator_name" data-fieldname="indicator_name">
	{$label public_moh_indicators indicator_name }	</span>
{END indicator_name_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_group_id_class}	"

			data-field="indicator_group_id"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN indicator_group_id_fieldheadercolumn}
	{BEGIN indicator_group_id_fieldheader}
	<SPAN {$indicator_group_id_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="indicator_group_id" data-fieldname="indicator_group_id">
	{$label public_moh_indicators indicator_group_id }	{$arrow_icon_indicator_group_id}
	</SPAN>
	{END indicator_group_id_fieldheader}
{END indicator_group_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$baseline_class}	"

			data-field="baseline"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN baseline_fieldheadercolumn}
	{BEGIN baseline_fieldheader}
	<SPAN {$baseline_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="baseline" data-fieldname="baseline">
	{$label public_moh_indicators baseline }	{$arrow_icon_baseline}
	</SPAN>
	{END baseline_fieldheader}
{END baseline_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$target_class}	"

			data-field="target"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN target_fieldheadercolumn}
	{BEGIN target_fieldheader}
	<SPAN {$target_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="target" data-fieldname="target">
	{$label public_moh_indicators target }	{$arrow_icon_target}
	</SPAN>
	{END target_fieldheader}
{END target_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
							</tr>
																				
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																																			<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Edit" class="btn-link   
	 glyphicon glyphicon-pencil" href="moh_indicators_edit.php?{$editlink}" {$editlink_attrs} title="Edit" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancel" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancel" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="View record" class="btn-link   
	 glyphicon glyphicon-search" href="moh_indicators_view.php?{$editlink}" {$viewlink_attrs} title="View" >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
									{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
									{BEGIN cellblock_grid_cell_details}
	<td
	
	{$cell_grid_cell_details}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_details" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"		data-control-cell
	
	>

	 
		{BEGIN dtables_link}
	<a 
		data-itemtype="grid_alldetails_link" data-itemid="grid_alldetails_link" {$item_grid_alldetails_link} data-pageid="{$pageid}" data-record-id="{$recId}" 
		{$dtables_link_attrs} 
		class="{$dtables_link_class}" 
		title="Show details"
				
	>
					<span class="glyphicon glyphicon-th-list"></span>
					</a>
{END dtables_link}
	 
		
		
	{BEGIN moh_indicator_data_dtable_link}
	<span data-itemtype="grid_details_link" data-itemid="grid_details_link" {$item_grid_details_link} data-pageid="{$pageid}" data-record-id="{$recId}">
	<a  {$moh_indicator_data_link_attrs} data-short-details="moh_indicator_data"
		class="{$moh_indicator_data_dlink_class}" 
		title="{$caption public_moh_indicator_data }"			>
								
									{BEGIN moh_indicator_data_childcount}
				<span class="details-badge badge moh_indicator_data_badge" {$moh_indicator_data_childnumber_attr}>
					{$moh_indicator_data_childnumber}				
				</span>
				{END moh_indicator_data_childcount}
						</a>
	</span>
	{END moh_indicator_data_dtable_link}


	 
		
		
	{BEGIN _dtable_link}
	<span data-itemtype="grid_details_link" data-itemid="grid_details_link1" {$item_grid_details_link1} data-pageid="{$pageid}" data-record-id="{$recId}">
	<a  {$_link_attrs} data-short-details=""
		class="{$_dlink_class}" 
		title="{$caption public_moh_indicator_data_view }"			>
								
									{BEGIN _childcount}
				<span class="details-badge badge _badge" {$_childnumber_attr}>
					{$_childnumber}				
				</span>
				{END _childcount}
						</a>
	</span>
	{END _dtable_link}


	
	</td>
	{END cellblock_grid_cell_details}
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_id_class}	"

			data-field="indicator_id"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN indicator_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="indicator_id" data-fieldname="indicator_id" data-default-width >
{$indicator_id_value}
</span>
{END indicator_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_name_class}	"

			data-field="indicator_name"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN indicator_name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="indicator_name" data-fieldname="indicator_name" data-default-width >
{$indicator_name_value}
</span>
{END indicator_name_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_group_id_class}	"

			data-field="indicator_group_id"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN indicator_group_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="indicator_group_id" data-fieldname="indicator_group_id" data-default-width >
{$indicator_group_id_value}
</span>
{END indicator_group_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$baseline_class}	"

			data-field="baseline"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN baseline_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="baseline" data-fieldname="baseline" data-default-width >
{$baseline_value}
</span>
{END baseline_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$target_class}	"

			data-field="target"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN target_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="target" data-fieldname="target" data-default-width >
{$target_value}
</span>
{END target_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
							</tr>
											<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
				
							">
									{BEGIN cellblock_grid_cell_dpreview}
	<td
	
	{$cell_grid_cell_dpreview}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_dpreview" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
				<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" data-record-id="{$recId}" 
	data-orders="moh_indicator_data,"
			data-details-moh_indicator_data			data-details-	>
		<span data-details-inside data-short-table="moh_indicator_data">
			</span>
		<span data-details-inside data-short-table="">
			</span>
		<div data-details-preview>
	</div>
</div>
	 
			
	</td>
	{END cellblock_grid_cell_dpreview}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																													<tr {$rowattrs} {$row_grid_3} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
									{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
									{BEGIN cellblock_grid_footcell_details}
	<td
	
	{$cell_grid_footcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_details}
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_id_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_name_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$indicator_group_id_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$baseline_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$target_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="moh_indicators_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
	
			{BEGIN below-grid_outerblock}
		<div class="panel-footer">
			{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
		</div>
	{END below-grid_outerblock}
		</div>

</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
