<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
    <head>
        <title>Report: Where Condition</title>
		<meta http-equiv="X-UA-Compatible" content="Edge">
    <link type="text/css" href="styles/default.css" rel="stylesheet">
		<link type="text/css" href="styles/{$wr_pagestylepath}/style.css" rel="stylesheet">
        {$h_includes}
    </head>
    <body class="{$wr_pagestylepath}">
        {$b_includes}
	{$header}
		<div class="rnr-page">
			<div class="rnr-top">
				<div class="rnr-s-1 {$wr_pagestylepath}">
					<div class="rnr-c rnr-cv">
						<div class="style2" align=center>
							Report: Where Condition{$report_title}{$report_table}</td>
						</div>
						<div class="style1 rnr-b-wrapper">
							<div class="rnr-s-fields {$wr_pagestylepath}">
								<div class="rnr-c rnr-cv">
									<div class="style1">
										<table class="fieldGrid" id="table_wh">
											<tr>
												<td align=center >Column</td>
												<td align=center>Filter</td>
												<td align=center>OR...</td>
												<td align=center>OR...</td>
												<td align=center>OR...</td>
											</tr>
											<tr id="cond_row_0" class="condition-row">
												<td align=center class="field_value">
													<select id="field_opt" name="field_opt">
														<option selected="" value="-1"/>
														{$fields}
													</select>
												</td>
												<td align=center class="filter_value">
													<input type="text" name="filter_value" id="filter_value" size="9"/>
												</td>
												<td align=center class="first_or_value">
													<input type="text" name="first_or_value" id="first_or_value" size="9"/>
												</td>
												<td align=center class="second_or_value">
													<input type="text" name="second_or_value" id="second_or_value" size="9"/>
												</td>
												<td align=center class="third_or_value">
													<input type="text" name="third_or_value" id="third_or_value" size="9"/>
												</td>	
											</tr>
										</table>
									</div>
									<div class="style2" align=center id="btns">
										<a id="backbtn" name="backbtn" class="rnr-button" href="#">Back</a>
										<span style="position:absolute;" id="jumptospan"></span>
										<a id="jumpto" name="jumpto" class="rnr-button" href="#" onclick="event.cancelBubble = true;return false;" onmouseover="event.cancelBubble = true;return false;">Jump to ...</a>
										<a id="sqlbtn" name="sqlbtn" class="rnr-button" href="#">SQL Query</a>
										<a id="sql_query" class="various fancybox.iframe" href="web_query.php?name=where_condition&ie=UTF-8&iframe"></a>
										<a id="nextbtn" name="nextbtn" class="rnr-button" href="#">Next</a>
										{BEGIN b_is_report_save}
										<a id="saveasbtn" name="saveasbtn" class="rnr-button" href="#">Save as...</a>
										{END b_is_report_save}															
										{BEGIN b_is_report_name}
										<a id="savebtn" name="savebtn" class="rnr-button" href="#">Save</a>
										{END b_is_report_name}
										<a id="previewbtn" name="previewbtn" class="rnr-button" href="#">Preview</a>
										<a id="preview" class="various fancybox.iframe" href="dreport.php?rname={$report_name_preview}&param=preview&ie=UTF-8&iframe"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{$footer}
        
        <style>
{literal}
	div.action { position: absolute;  width: 170px; padding: 0; font-size:11px}
	td {font-size:11px}
{/literal}
</style>
<iframe id="framejump" style="display:none;position:absolute;" scrolling="no" frameborder="0"></iframe>
<div id="menujump" class=action style="display:none;position:absolute;">
	<table width=100% cellpadding=0 cellspacing=0 border=0 style="background-color:#F4F7FB;border: solid 1px blue;">
		<tr><td id=row0 style="cursor:pointer;padding:5px;">Tables</td></tr>
		<tr><td id=row1 style="cursor:pointer;padding:5px;">Table Relations</td></tr>
		<tr><td id=row2 style="cursor:pointer;padding:5px;">Where Condition</td></tr>
		<tr><td id=row3 style="cursor:pointer;padding:5px;">Group fields</td></tr>
		<tr><td id=row4 style="cursor:pointer;padding:5px;">Totals</td></tr>
		<tr><td id=row5 style="cursor:pointer;padding:5px;">Miscellaneous</td></tr>
		<tr><td id=row6 style="cursor:pointer;padding:5px;">Sort fields</td></tr>
		<tr><td id=row7 style="cursor:pointer;padding:5px;">Style Editor</td></tr>
		<tr><td id=row8 style="cursor:pointer;padding:5px;">Report Settings</td></tr>
		<tr><td id=row9 style="cursor:pointer;padding:5px;">Dynamic Permissions</td></tr>
		<tr><td id=row10 style="cursor:pointer;padding:5px;;border-top:1px solid blue;">Back to Web Reports menu</td></tr>
		<tr><td id=row11 style="cursor:pointer;padding:5px;">Back to main application</td></tr>
	</table>
</div>
	<iframe id="aframe" style="display:none;position:absolute;" scrolling="no" frameborder="0"></iframe>
        <div id="alert">		
		</div>
        
    </body>
</html>